# From Raw Dataset to Training Datasets

# 1. Import Libraries.

In this section we Import some of the initial Libraries we will need.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

# 2. Dataset for the X data.

We have located a dataset on Kaggle that shows 45 financial metrics/ratios for the constituents of the Nasdaq 100 index for the years 2017 to 2022.  There is also a Latest Data period field but this period is sparsely populated.  In total, this dataset has  7 annual periods but we will use only a number of these periods as we explain below.

The dataset can be found here: https://www.kaggle.com/datasets/ifuurh/nasdaq100-fundamental-data

We have downloaded the dataset and then read the dataset into a dataframe.

We will match each year's data to it's appropriate Training Label as follows:

2017 Data => 2018 year 12 month Share Price Return relative to the Nasdaq 100

2018 Data => 2019 year 12 month Share Price Return relative to the Nasdaq 100

2019 Data => 2020 year 12 month Share Price Return relative to the Nasdaq 100

2020 Data => 2021 year 12 month Share Price Return relative to the Nasdaq 100

2021 Data => 2022 year 12 month Share Price Return relative to the Nasdaq 100 (it should be noted that the 2022 year is a negative Price Return year).

It should be noted that 12 month Share Price Return is not the same as 12 month Total Return (including dividends, buy backs, hives etc.).

In [2]:
data = pd.read_csv('nasdaq100_metrics_ratios.csv')
data.head()

,symbol,company,sector,subsector,asset_turnover_2017,asset_turnover_2018,asset_turnover_2019,asset_turnover_2020,asset_turnover_2021,asset_turnover_2022,...,yoy_eps_growth_2021,yoy_eps_growth_2022,yoy_eps_growth_latest,yoy_revenue_growth_2017,yoy_revenue_growth_2018,yoy_revenue_growth_2019,yoy_revenue_growth_2020,yoy_revenue_growth_2021,yoy_revenue_growth_2022,yoy_revenue_growth_latest
0,AAPL,Apple Inc.,Information Technology,"Technology Hardware, Storage & Peripherals",0.66,0.72,0.74,0.83,1.08,NaN,...,71.04,NaN,-7.69,11.34,21.69,5.36,11.94,38.50,NaN,5.11
1,ABNB,Airbnb,Consumer Discretionary,Internet & Direct Marketing Retail,NaN,0.55,0.64,0.36,0.50,NaN,...,96.46,NaN,609.09,NaN,40.08,31.58,31.27,-18.11,NaN,41.00
2,ADBE,Adobe Inc.,Information Technology,Application Software,0.54,0.54,0.57,0.57,0.61,NaN,...,-7.48,NaN,-3.97,25.51,24.45,25.21,16.86,23.69,NaN,15.54
3,ADI,Analog Devices,Information Technology,Semiconductors,0.36,0.30,0.29,0.26,0.20,NaN,...,5.49,NaN,6.67,36.64,10.91,-3.22,-6.25,21.07,NaN,26.30
4,ADP,ADP,Information Technology,Data Processing & Outsourced Services,NaN,0.34,0.34,0.35,0.33,0.29,...,6.49,15.32,19.05,NaN,8.65,7.16,4.84,4.95,11.87,12.02

# 3. Exploratory Data Analysis on the X data.

Reviewing our initial data frame, we can  ascertain that something appears to be amiss on a sense check of the number of columns.  

45 attributes over 7 periods would provide 315 columns against the actual 283 columns shown. 

The issues identified are:

    We have identified 6 attributes that only have a single period.  

    We can also see that the 2022 data is sparsely populated.

    The current period data is populated and but we will not have any label data for this period as it is 2023.

Sense Check: 283 subtract 4 columns that contain only narratives or classifications ('Sector', 'GICs' etc.) which we remove then subtract 6 data columns that only have the data for single years which we remove = 273 divided by 7 = 39 data attributes.  

We end up with dataset with 39 different financial statements metric data points per stock for 7 consecutive 12 month periods.

# 4. Data Cleansing.

In [3]:
datadel = data[['financial_distress_latest','financial_strength_latest','free_float_percentage_latest','goodwill_to_asset_latest','predictability', 'profitability',]].copy
datadel

<bound method NDFrame.copy of      financial_distress_latest  financial_strength_latest  \
0                         0.02                          7
1                         0.07                          7
2                         0.30                          8
3                         0.02                          7
4                         0.02                          6
..                         ...                        ...
97                        0.10                          5
98                        0.06                          6
99                        0.02                          3
100                       0.27                          9
101                       0.08                          5

     free_float_percentage_latest  goodwill_to_asset_latest  predictability  \
0                           99.94                       NaN             5.0
1                           61.37                       NaN             NaN
2                          100.00                       NaN             2.0
3                           99.64                       NaN             2.0
4                           99.98                       NaN             5.0
..                            ...                       ...             ...
97                          82.92                       NaN             1.0
98                          78.07                       NaN             1.0
99                          90.04                       NaN             2.0
100                         84.17                       NaN             NaN
101                         58.91                       NaN             NaN

     profitability
0               10
1                1
2                9
3                9
4                9
..             ...
97               8
98               4
99               7
100              6
101              4

[102 rows x 6 columns]>

In [4]:
data.drop(['financial_distress_latest','financial_strength_latest','free_float_percentage_latest','goodwill_to_asset_latest','predictability', 'profitability'], inplace=True, axis=1)
data

,symbol,company,sector,subsector,asset_turnover_2017,asset_turnover_2018,asset_turnover_2019,asset_turnover_2020,asset_turnover_2021,asset_turnover_2022,...,yoy_eps_growth_2021,yoy_eps_growth_2022,yoy_eps_growth_latest,yoy_revenue_growth_2017,yoy_revenue_growth_2018,yoy_revenue_growth_2019,yoy_revenue_growth_2020,yoy_revenue_growth_2021,yoy_revenue_growth_2022,yoy_revenue_growth_latest
0,AAPL,Apple Inc.,Information Technology,"Technology Hardware, Storage & Peripherals",0.66,0.72,0.74,0.83,1.08,NaN,...,71.04,NaN,-7.69,11.34,21.69,5.36,11.94,38.50,NaN,5.11
1,ABNB,Airbnb,Consumer Discretionary,Internet & Direct Marketing Retail,NaN,0.55,0.64,0.36,0.50,NaN,...,96.46,NaN,609.09,NaN,40.08,31.58,31.27,-18.11,NaN,41.00
2,ADBE,Adobe Inc.,Information Technology,Application Software,0.54,0.54,0.57,0.57,0.61,NaN,...,-7.48,NaN,-3.97,25.51,24.45,25.21,16.86,23.69,NaN,15.54
3,ADI,Analog Devices,Information Technology,Semiconductors,0.36,0.30,0.29,0.26,0.20,NaN,...,5.49,NaN,6.67,36.64,10.91,-3.22,-6.25,21.07,NaN,26.30
4,ADP,ADP,Information Technology,Data Processing & Outsourced Services,NaN,0.34,0.34,0.35,0.33,0.29,...,6.49,15.32,19.05,NaN,8.65,7.16,4.84,4.95,11.87,12.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,WBA,Walgreens Boots Alliance,Consumer Staples,Drug Retail,1.71,1.96,1.77,1.58,1.57,NaN,...,463.46,NaN,-76.09,1.91,20.61,-1.65,6.57,10.37,NaN,-4.02
98,WDAY,"Workday, Inc.",Information Technology,Application Software,NaN,0.52,0.54,0.59,0.56,0.54,...,43.87,110.08,-160.98,NaN,29.85,26.22,22.65,14.10,11.04,24.57
99,XEL,Xcel Energy,Utilities,Multi-Utilities,0.27,0.26,0.24,0.22,0.24,NaN,...,6.09,NaN,3.45,2.68,0.77,-1.80,-1.54,13.93,NaN,10.17
100,ZM,Zoom Video Communications,Information Technology,Application Software,NaN,0.70,1.16,0.76,0.81,0.64,...,NaN,100.00,-85.58,NaN,149.56,118.09,99.11,263.13,50.75,7.16
101,ZS,Zscaler,Information Technology,Application Software,NaN,0.60,0.58,0.35,0.33,0.43,...,-116.85,-43.52,-16.95,NaN,145.42,-17.67,36.07,48.79,56.05,56.22

# 4.1  We have removed the 6 single year columns.  We have also noted that we need to move a column that is out of time series order.

In [5]:
column_to_move = data.pop("price_to_earnings_ratio_latest")

# insert column with insert(location, column_name, column_value)

data.insert(213, "price_to_earnings_ratio_latest", column_to_move)

data.head()

C:\Users\mark\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3364: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  if (await self.run_code(code, result,  async_=asy)):

,symbol,company,sector,subsector,asset_turnover_2017,asset_turnover_2018,asset_turnover_2019,asset_turnover_2020,asset_turnover_2021,asset_turnover_2022,...,yoy_eps_growth_2021,yoy_eps_growth_2022,yoy_eps_growth_latest,yoy_revenue_growth_2017,yoy_revenue_growth_2018,yoy_revenue_growth_2019,yoy_revenue_growth_2020,yoy_revenue_growth_2021,yoy_revenue_growth_2022,yoy_revenue_growth_latest
0,AAPL,Apple Inc.,Information Technology,"Technology Hardware, Storage & Peripherals",0.66,0.72,0.74,0.83,1.08,NaN,...,71.04,NaN,-7.69,11.34,21.69,5.36,11.94,38.50,NaN,5.11
1,ABNB,Airbnb,Consumer Discretionary,Internet & Direct Marketing Retail,NaN,0.55,0.64,0.36,0.50,NaN,...,96.46,NaN,609.09,NaN,40.08,31.58,31.27,-18.11,NaN,41.00
2,ADBE,Adobe Inc.,Information Technology,Application Software,0.54,0.54,0.57,0.57,0.61,NaN,...,-7.48,NaN,-3.97,25.51,24.45,25.21,16.86,23.69,NaN,15.54
3,ADI,Analog Devices,Information Technology,Semiconductors,0.36,0.30,0.29,0.26,0.20,NaN,...,5.49,NaN,6.67,36.64,10.91,-3.22,-6.25,21.07,NaN,26.30
4,ADP,ADP,Information Technology,Data Processing & Outsourced Services,NaN,0.34,0.34,0.35,0.33,0.29,...,6.49,15.32,19.05,NaN,8.65,7.16,4.84,4.95,11.87,12.02

In [6]:
cols = [211,212,213]
datatest = data[data.columns[cols]]
datatest.head()

,price_to_earnings_ratio_2021,price_to_earnings_ratio_2022,price_to_earnings_ratio_latest
0,25.22,NaN,24.82
1,NaN,NaN,55.60
2,66.85,NaN,28.06
3,50.14,NaN,39.20
4,32.72,30.01,32.85

# 4.2 We have moved the column but we see that we have Nans so we now find the Nans with Mean of column values.

In [7]:
NaN_columns = data.columns[data.isna().any()].tolist()
NaN_columns

['asset_turnover_2017',
 'asset_turnover_2018',
 'asset_turnover_2019',
 'asset_turnover_2020',
 'asset_turnover_2022',
 'buyback_yield_2017',
 'buyback_yield_2018',
 'buyback_yield_2019',
 'buyback_yield_2020',
 'buyback_yield_2021',
 'buyback_yield_2022',
 'capex_to_revenue_2017',
 'capex_to_revenue_2018',
 'capex_to_revenue_2019',
 'capex_to_revenue_2020',
 'capex_to_revenue_2021',
 'capex_to_revenue_2022',
 'cash_ratio_2017',
 'cash_ratio_2018',
 'cash_ratio_2019',
 'cash_ratio_2022',
 'cash_to_debt_2017',
 'cash_to_debt_2018',
 'cash_to_debt_2019',
 'cash_to_debt_2020',
 'cash_to_debt_2021',
 'cash_to_debt_2022',
 'cash_to_debt_latest',
 'cogs_to_revenue_2017',
 'cogs_to_revenue_2018',
 'cogs_to_revenue_2019',
 'cogs_to_revenue_2020',
 'cogs_to_revenue_2021',
 'cogs_to_revenue_2022',
 'mscore_2017',
 'mscore_2018',
 'mscore_2019',
 'mscore_2020',
 'mscore_2021',
 'mscore_2022',
 'zscore_2017',
 'zscore_2018',
 'zscore_2019',
 'zscore_2020',
 'zscore_2021',
 'zscore_2022',
 'current_ratio_2017',
 'current_ratio_2018',
 'current_ratio_2019',
 'current_ratio_2022',
 'days_inventory_2017',
 'days_inventory_2018',
 'days_inventory_2019',
 'days_inventory_2020',
 'days_inventory_2021',
 'days_inventory_2022',
 'debt_to_equity_2017',
 'debt_to_equity_2018',
 'debt_to_equity_2019',
 'debt_to_equity_2020',
 'debt_to_equity_2021',
 'debt_to_equity_2022',
 'debt_to_assets_2017',
 'debt_to_assets_2018',
 'debt_to_assets_2019',
 'debt_to_assets_2020',
 'debt_to_assets_2021',
 'debt_to_assets_2022',
 'debt_to_ebitda_2017',
 'debt_to_ebitda_2018',
 'debt_to_ebitda_2019',
 'debt_to_ebitda_2020',
 'debt_to_ebitda_2021',
 'debt_to_ebitda_2022',
 'debt_to_revenue_2017',
 'debt_to_revenue_2018',
 'debt_to_revenue_2019',
 'debt_to_revenue_2020',
 'debt_to_revenue_2021',
 'debt_to_revenue_2022',
 'e10_2017',
 'e10_2018',
 'e10_2019',
 'e10_2020',
 'e10_2021',
 'e10_2022',
 'effective_interest_rate_2017',
 'effective_interest_rate_2018',
 'effective_interest_rate_2019',
 'effective_interest_rate_2020',
 'effective_interest_rate_2021',
 'effective_interest_rate_2022',
 'equity_to_assets_2017',
 'equity_to_assets_2018',
 'equity_to_assets_2019',
 'equity_to_assets_2022',
 'enterprise_value_to_ebit_2017',
 'enterprise_value_to_ebit_2018',
 'enterprise_value_to_ebit_2019',
 'enterprise_value_to_ebit_2020',
 'enterprise_value_to_ebit_2021',
 'enterprise_value_to_ebit_2022',
 'enterprise_value_to_ebitda_2017',
 'enterprise_value_to_ebitda_2018',
 'enterprise_value_to_ebitda_2019',
 'enterprise_value_to_ebitda_2020',
 'enterprise_value_to_ebitda_2021',
 'enterprise_value_to_ebitda_2022',
 'enterprise_value_to_revenue_2017',
 'enterprise_value_to_revenue_2018',
 'enterprise_value_to_revenue_2019',
 'enterprise_value_to_revenue_2020',
 'enterprise_value_to_revenue_2021',
 'enterprise_value_to_revenue_2022',
 'earning_yield_greenblatt_2017',
 'earning_yield_greenblatt_2018',
 'earning_yield_greenblatt_2019',
 'earning_yield_greenblatt_2020',
 'earning_yield_greenblatt_2021',
 'earning_yield_greenblatt_2022',
 'fscore_2017',
 'fscore_2018',
 'fscore_2019',
 'fscore_2020',
 'fscore_2021',
 'fscore_2022',
 'fscore_latest',
 'gross_profit_to_assets_2017',
 'gross_profit_to_assets_2018',
 'gross_profit_to_assets_2019',
 'gross_profit_to_assets_2022',
 'interest_coverage_2017',
 'interest_coverage_2018',
 'interest_coverage_2019',
 'interest_coverage_2020',
 'interest_coverage_2021',
 'interest_coverage_2022',
 'interest_coverage_latest',
 'inventory_turnover_2017',
 'inventory_turnover_2018',
 'inventory_turnover_2019',
 'inventory_turnover_2020',
 'inventory_turnover_2021',
 'inventory_turnover_2022',
 'inventory_to_revenue_2017',
 'inventory_to_revenue_2018',
 'inventory_to_revenue_2019',
 'inventory_to_revenue_2020',
 'inventory_to_revenue_2021',
 'inventory_to_revenue_2022',
 'liabilities_to_assets_2017',
 'liabilities_to_assets_2018',
 'liabilities_to_assets_2019',
 'liabilities_to_assets_2022',
 'longterm_debt_to_assets_2017',
 'longterm_debt_to_assets_2018',
 'longterm_debt_to_assets_2019',
 'longterm_debt_to_assets_2020',
 'longterm_debt_to_assets_2021',
 'longterm_debt_to_assets_2022',
 'price_to_book_ratio_2017',
 'price_to_book_ratio_2018',
 'price_to_book_ratio_2019',
 'price_to_book_ratio_2020',
 'price_to_book_ratio_2021',
 'price_to_book_ratio_2022',
 'price_to_book_ratio_latest',
 'price_to_earnings_ratio_2017',
 'price_to_earnings_ratio_2018',
 'price_to_earnings_ratio_2019',
 'price_to_earnings_ratio_2020',
 'price_to_earnings_ratio_2021',
 'price_to_earnings_ratio_2022',
 'price_to_earnings_ratio_latest',
 'price_to_earnings_ratio_nri_2017',
 'price_to_earnings_ratio_nri_2018',
 'price_to_earnings_ratio_nri_2019',
 'price_to_earnings_ratio_nri_2020',
 'price_to_earnings_ratio_nri_2021',
 'price_to_earnings_ratio_nri_2022',
 'price_to_earnings_ratio_nri_latest',
 'price_earnings_growth_ratio_2017',
 'price_earnings_growth_ratio_2018',
 'price_earnings_growth_ratio_2019',
 'price_earnings_growth_ratio_2020',
 'price_earnings_growth_ratio_2021',
 'price_earnings_growth_ratio_2022',
 'price_earnings_growth_ratio_latest',
 'price_to_free_cashflow_2017',
 'price_to_free_cashflow_2018',
 'price_to_free_cashflow_2019',
 'price_to_free_cashflow_2020',
 'price_to_free_cashflow_2021',
 'price_to_free_cashflow_2022',
 'price_to_free_cashflow_latest',
 'price_to_operating_cashflow_2017',
 'price_to_operating_cashflow_2018',
 'price_to_operating_cashflow_2019',
 'price_to_operating_cashflow_2020',
 'price_to_operating_cashflow_2021',
 'price_to_operating_cashflow_2022',
 'price_to_operating_cashflow_latest',
 'rate_of_return_2017',
 'rate_of_return_2018',
 'rate_of_return_2019',
 'rate_of_return_2020',
 'rate_of_return_2021',
 'rate_of_return_2022',
 'scaled_net_operating_assets_2017',
 'scaled_net_operating_assets_2018',
 'scaled_net_operating_assets_2019',
 'scaled_net_operating_assets_2020',
 'scaled_net_operating_assets_2021',
 'scaled_net_operating_assets_2022',
 'yoy_ebitda_growth_2017',
 'yoy_ebitda_growth_2018',
 'yoy_ebitda_growth_2019',
 'yoy_ebitda_growth_2020',
 'yoy_ebitda_growth_2021',
 'yoy_ebitda_growth_2022',
 'yoy_eps_growth_2017',
 'yoy_eps_growth_2018',
 'yoy_eps_growth_2019',
 'yoy_eps_growth_2020',
 'yoy_eps_growth_2021',
 'yoy_eps_growth_2022',
 'yoy_revenue_growth_2017',
 'yoy_revenue_growth_2018',
 'yoy_revenue_growth_2019',
 'yoy_revenue_growth_2021',
 'yoy_revenue_growth_2022']

In [8]:
for c in NaN_columns:
    temp = data[c].values
    temp1 = np.nanmean(temp)
    temp2 = np.nan_to_num(temp, nan=temp1)
    data[c] = temp2

In [9]:
data

,symbol,company,sector,subsector,asset_turnover_2017,asset_turnover_2018,asset_turnover_2019,asset_turnover_2020,asset_turnover_2021,asset_turnover_2022,...,yoy_eps_growth_2021,yoy_eps_growth_2022,yoy_eps_growth_latest,yoy_revenue_growth_2017,yoy_revenue_growth_2018,yoy_revenue_growth_2019,yoy_revenue_growth_2020,yoy_revenue_growth_2021,yoy_revenue_growth_2022,yoy_revenue_growth_latest
0,AAPL,Apple Inc.,Information Technology,"Technology Hardware, Storage & Peripherals",0.660000,0.72,0.74,0.83,1.08,0.674231,...,71.040000,19.03,-7.69,11.340000,21.69,5.36,11.94,38.50,28.876538,5.11
1,ABNB,Airbnb,Consumer Discretionary,Internet & Direct Marketing Retail,0.724932,0.55,0.64,0.36,0.50,0.674231,...,96.460000,19.03,609.09,19.277917,40.08,31.58,31.27,-18.11,28.876538,41.00
2,ADBE,Adobe Inc.,Information Technology,Application Software,0.540000,0.54,0.57,0.57,0.61,0.674231,...,-7.480000,19.03,-3.97,25.510000,24.45,25.21,16.86,23.69,28.876538,15.54
3,ADI,Analog Devices,Information Technology,Semiconductors,0.360000,0.30,0.29,0.26,0.20,0.674231,...,5.490000,19.03,6.67,36.640000,10.91,-3.22,-6.25,21.07,28.876538,26.30
4,ADP,ADP,Information Technology,Data Processing & Outsourced Services,0.724932,0.34,0.34,0.35,0.33,0.290000,...,6.490000,15.32,19.05,19.277917,8.65,7.16,4.84,4.95,11.870000,12.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,WBA,Walgreens Boots Alliance,Consumer Staples,Drug Retail,1.710000,1.96,1.77,1.58,1.57,0.674231,...,463.460000,19.03,-76.09,1.910000,20.61,-1.65,6.57,10.37,28.876538,-4.02
98,WDAY,"Workday, Inc.",Information Technology,Application Software,0.724932,0.52,0.54,0.59,0.56,0.540000,...,43.870000,110.08,-160.98,19.277917,29.85,26.22,22.65,14.10,11.040000,24.57
99,XEL,Xcel Energy,Utilities,Multi-Utilities,0.270000,0.26,0.24,0.22,0.24,0.674231,...,6.090000,19.03,3.45,2.680000,0.77,-1.80,-1.54,13.93,28.876538,10.17
100,ZM,Zoom Video Communications,Information Technology,Application Software,0.724932,0.70,1.16,0.76,0.81,0.640000,...,52.306596,100.00,-85.58,19.277917,149.56,118.09,99.11,263.13,50.750000,7.16
101,ZS,Zscaler,Information Technology,Application Software,0.724932,0.60,0.58,0.35,0.33,0.430000,...,-116.850000,-43.52,-16.95,19.277917,145.42,-17.67,36.07,48.79,56.050000,56.22

In [10]:
data2017 = data.filter(regex='_2017')
data2018 = data.filter(regex='_2018')
data2019 = data.filter(regex='_2019')
data2020 = data.filter(regex='_2020')
data2021 = data.filter(regex='_2021')

In [11]:
data2021.head(110)

,asset_turnover_2021,buyback_yield_2021,capex_to_revenue_2021,cash_ratio_2021,cash_to_debt_2021,cogs_to_revenue_2021,mscore_2021,zscore_2021,current_ratio_2021,days_inventory_2021,...,price_to_earnings_ratio_2021,price_to_earnings_ratio_nri_2021,price_earnings_growth_ratio_2021,price_to_free_cashflow_2021,price_to_operating_cashflow_2021,rate_of_return_2021,scaled_net_operating_assets_2021,yoy_ebitda_growth_2021,yoy_eps_growth_2021,yoy_revenue_growth_2021
0,1.08,3.650000,0.030000,0.50,0.50,0.58,-2.250000,6.99,1.07,9.120000,...,25.220000,25.220000,1.860000,25.670000,22.94,16.13000,0.39,57.9600,71.040000,38.50
1,0.50,1.733289,0.220594,1.31,3.44,0.19,-2.620000,7.43,1.95,83.647794,...,61.101047,63.153488,6.195821,47.380000,46.83,12.24026,-0.11,102.9100,96.460000,-18.11
2,0.61,1.150000,0.020000,0.84,1.24,0.12,-2.600000,17.93,1.25,83.647794,...,66.850000,66.850000,2.290000,46.820000,44.56,21.36000,0.56,31.9300,-7.480000,23.69
3,0.20,3.410000,0.050000,0.71,0.29,0.38,-1.630000,4.31,1.94,118.180000,...,50.140000,50.140000,5.080000,29.110000,25.45,12.75000,2.00,3.6000,5.490000,21.07
4,0.33,1.630000,0.040000,0.07,0.77,0.59,-2.520000,2.33,1.07,83.647794,...,32.720000,32.720000,3.210000,32.860000,27.49,12.68000,0.17,5.4200,6.490000,4.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,1.57,0.250000,0.010000,0.05,0.04,0.79,-2.260000,2.72,0.72,28.090000,...,17.320000,22.070000,6.195821,10.530000,7.91,-5.11000,0.64,65.8000,463.460000,10.37
98,0.56,1.733289,0.060000,0.83,1.58,0.28,-3.240000,6.12,1.12,83.647794,...,61.101047,63.153488,6.195821,53.290000,42.51,12.24026,0.29,156.7000,43.870000,14.10
99,0.24,-0.990000,0.320000,0.03,0.01,0.61,-1.792316,1.03,0.84,26.040000,...,22.870000,22.870000,8.730000,52.026374,16.70,-1.04000,0.75,3.4800,6.090000,13.93
100,0.81,-1.810000,0.030000,3.37,40.04,0.31,-0.480000,47.50,3.80,83.647794,...,165.360000,165.360000,6.195821,80.070000,75.39,12.24026,-0.22,17.7097,52.306596,263.13
101,0.33,1.733289,0.090000,2.09,1.56,0.22,-2.670000,11.58,2.57,83.647794,...,61.101047,63.153488,6.195821,222.560000,158.44,12.24026,-0.01,-86.7400,-116.850000,48.79

In [12]:
column_names = data2018.columns.values.tolist()

In [13]:
print(*column_names,sep='\n')

asset_turnover_2018
buyback_yield_2018
capex_to_revenue_2018
cash_ratio_2018
cash_to_debt_2018
cogs_to_revenue_2018
mscore_2018
zscore_2018
current_ratio_2018
days_inventory_2018
debt_to_equity_2018
debt_to_assets_2018
debt_to_ebitda_2018
debt_to_revenue_2018
e10_2018
effective_interest_rate_2018
equity_to_assets_2018
enterprise_value_to_ebit_2018
enterprise_value_to_ebitda_2018
enterprise_value_to_revenue_2018
earning_yield_greenblatt_2018
fscore_2018
gross_profit_to_assets_2018
interest_coverage_2018
inventory_turnover_2018
inventory_to_revenue_2018
liabilities_to_assets_2018
longterm_debt_to_assets_2018
price_to_book_ratio_2018
price_to_earnings_ratio_2018
price_to_earnings_ratio_nri_2018
price_earnings_growth_ratio_2018
price_to_free_cashflow_2018
price_to_operating_cashflow_2018
rate_of_return_2018
scaled_net_operating_assets_2018
yoy_ebitda_growth_2018
yoy_eps_growth_2018
yoy_revenue_growth_2018

#

# What we have now:
We now have 5 discrete 12 month periods of Training Data.

Remember the 2022 year end data (and the current data points) have not been saved as discrete X data as in our later work we have provided Labels that are 12 months after the initial data points which would be beyond today's date.  However, should you be interested in using 6 month ahead Share Price performance labels then the 2022 data could also be silimilarly extracted.


You will note the Label data is the Return recorded over the next 12 months in Share Price Returns.  It is important to note that Total Return (including dividends, buy backs, hives etc.) has not been calculated.

#

# 4. We now put the X data into aggregated datasets

In [14]:
data17_21 = pd.DataFrame(np.concatenate( (data2017.values, data2018.values, data2019.values, data2020.values, data2021.values), axis=0 ) )

In [15]:
data17_21

,0,1,2,3,4,5,6,7,8,9,...,29,30,31,32,33,34,35,36,37,38
0,0.660000,4.090000,0.050000,0.740000,0.640000,0.620000,-2.500000,3.620000,1.280000,9.040000,...,16.730000,16.730000,1.250000,15.630000,12.600000,19.240000,0.550000,9.360000,10.830000,11.340000
1,0.724932,2.035574,0.040000,1.410274,2.648413,0.250000,-2.543382,6.686479,2.332192,89.855094,...,44.940635,44.909524,10.936250,33.836721,35.271493,14.260952,0.482917,26.097361,46.020147,19.277917
2,0.540000,1.080000,0.020000,1.650000,3.090000,0.140000,-2.490000,10.810000,2.050000,89.855094,...,52.320000,52.320000,2.420000,32.410000,30.420000,21.820000,0.360000,39.030000,45.690000,25.510000
3,0.360000,0.140000,0.040000,0.660000,0.130000,0.400000,-1.490000,2.640000,1.470000,81.440000,...,39.870000,39.870000,4.440000,33.680000,27.720000,11.950000,2.130000,25.600000,-17.030000,36.640000
4,0.724932,2.035574,0.086892,1.410274,2.648413,0.437534,-2.543382,6.686479,2.332192,89.855094,...,44.940635,44.909524,10.936250,33.836721,35.271493,14.260952,0.482917,26.097361,46.020147,19.277917
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505,1.570000,0.250000,0.010000,0.050000,0.040000,0.790000,-2.260000,2.720000,0.720000,28.090000,...,17.320000,22.070000,6.195821,10.530000,7.910000,-5.110000,0.640000,65.800000,463.460000,10.370000
506,0.560000,1.733289,0.060000,0.830000,1.580000,0.280000,-3.240000,6.120000,1.120000,83.647794,...,61.101047,63.153488,6.195821,53.290000,42.510000,12.240260,0.290000,156.700000,43.870000,14.100000
507,0.240000,-0.990000,0.320000,0.030000,0.010000,0.610000,-1.792316,1.030000,0.840000,26.040000,...,22.870000,22.870000,8.730000,52.026374,16.700000,-1.040000,0.750000,3.480000,6.090000,13.930000
508,0.810000,-1.810000,0.030000,3.370000,40.040000,0.310000,-0.480000,47.500000,3.800000,83.647794,...,165.360000,165.360000,6.195821,80.070000,75.390000,12.240260,-0.220000,17.709700,52.306596,263.130000
509,0.330000,1.733289,0.090000,2.090000,1.560000,0.220000,-2.670000,11.580000,2.570000,83.647794,...,61.101047,63.153488,6.195821,222.560000,158.440000,12.240260,-0.010000,-86.740000,-116.850000,48.790000

In [16]:
list_with_years = ['asset_turnover_2017', 'buyback_yield_2017', 'capex_to_revenue_2017', 'cash_ratio_2017', 'cash_to_debt_2017', 'cogs_to_revenue_2017', 'mscore_2017', 'zscore_2017', 'current_ratio_2017', 'days_inventory_2017', 'debt_to_equity_2017', 'debt_to_assets_2017', 'debt_to_ebitda_2017', 'debt_to_revenue_2017', 'e10_2017', 'effective_interest_rate_2017', 'equity_to_assets_2017', 'enterprise_value_to_ebit_2017', 'enterprise_value_to_ebitda_2017', 'enterprise_value_to_revenue_2017', 'earning_yield_greenblatt_2017', 'fscore_2017', 'gross_profit_to_assets_2017', 'interest_coverage_2017', 'inventory_turnover_2017', 'inventory_to_revenue_2017', 'liabilities_to_assets_2017', 'longterm_debt_to_assets_2017', 'price_to_book_ratio_2017', 'price_to_earnings_ratio_2017', 'price_to_earnings_ratio_nri_2017', 'price_earnings_growth_ratio_2017', 'price_to_free_cashflow_2017', 'price_to_operating_cashflow_2017', 'rate_of_return_2017', 'scaled_net_operating_assets_2017', 'yoy_ebitda_growth_2017', 'yoy_eps_growth_2017','yoy_revenue_growth_2017']

list_without_years = [i[:-5] for i in list_with_years]

list_without_years

['asset_turnover',
 'buyback_yield',
 'capex_to_revenue',
 'cash_ratio',
 'cash_to_debt',
 'cogs_to_revenue',
 'mscore',
 'zscore',
 'current_ratio',
 'days_inventory',
 'debt_to_equity',
 'debt_to_assets',
 'debt_to_ebitda',
 'debt_to_revenue',
 'e10',
 'effective_interest_rate',
 'equity_to_assets',
 'enterprise_value_to_ebit',
 'enterprise_value_to_ebitda',
 'enterprise_value_to_revenue',
 'earning_yield_greenblatt',
 'fscore',
 'gross_profit_to_assets',
 'interest_coverage',
 'inventory_turnover',
 'inventory_to_revenue',
 'liabilities_to_assets',
 'longterm_debt_to_assets',
 'price_to_book_ratio',
 'price_to_earnings_ratio',
 'price_to_earnings_ratio_nri',
 'price_earnings_growth_ratio',
 'price_to_free_cashflow',
 'price_to_operating_cashflow',
 'rate_of_return',
 'scaled_net_operating_assets',
 'yoy_ebitda_growth',
 'yoy_eps_growth',
 'yoy_revenue_growth']

In [17]:
data17_21.columns = ['asset_turnover',
 'buyback_yield',
 'capex_to_revenue',
 'cash_ratio',
 'cash_to_debt',
 'cogs_to_revenue',
 'mscore',
 'zscore',
 'current_ratio',
 'days_inventory',
 'debt_to_equity',
 'debt_to_assets',
 'debt_to_ebitda',
 'debt_to_revenue',
 'e10',
 'effective_interest_rate',
 'equity_to_assets',
 'enterprise_value_to_ebit',
 'enterprise_value_to_ebitda',
 'enterprise_value_to_revenue',
 'earning_yield_greenblatt',
 'fscore',
 'gross_profit_to_assets',
 'interest_coverage',
 'inventory_turnover',
 'inventory_to_revenue',
 'liabilities_to_assets',
 'longterm_debt_to_assets',
 'price_to_book_ratio',
 'price_to_earnings_ratio',
 'price_to_earnings_ratio_nri',
 'price_earnings_growth_ratio',
 'price_to_free_cashflow',
 'price_to_operating_cashflow',
 'rate_of_return',
 'scaled_net_operating_assets',
 'yoy_ebitda_growth',
 'yoy_eps_growth',
 'yoy_revenue_growth']

In [18]:
data17_21

,asset_turnover,buyback_yield,capex_to_revenue,cash_ratio,cash_to_debt,cogs_to_revenue,mscore,zscore,current_ratio,days_inventory,...,price_to_earnings_ratio,price_to_earnings_ratio_nri,price_earnings_growth_ratio,price_to_free_cashflow,price_to_operating_cashflow,rate_of_return,scaled_net_operating_assets,yoy_ebitda_growth,yoy_eps_growth,yoy_revenue_growth
0,0.660000,4.090000,0.050000,0.740000,0.640000,0.620000,-2.500000,3.620000,1.280000,9.040000,...,16.730000,16.730000,1.250000,15.630000,12.600000,19.240000,0.550000,9.360000,10.830000,11.340000
1,0.724932,2.035574,0.040000,1.410274,2.648413,0.250000,-2.543382,6.686479,2.332192,89.855094,...,44.940635,44.909524,10.936250,33.836721,35.271493,14.260952,0.482917,26.097361,46.020147,19.277917
2,0.540000,1.080000,0.020000,1.650000,3.090000,0.140000,-2.490000,10.810000,2.050000,89.855094,...,52.320000,52.320000,2.420000,32.410000,30.420000,21.820000,0.360000,39.030000,45.690000,25.510000
3,0.360000,0.140000,0.040000,0.660000,0.130000,0.400000,-1.490000,2.640000,1.470000,81.440000,...,39.870000,39.870000,4.440000,33.680000,27.720000,11.950000,2.130000,25.600000,-17.030000,36.640000
4,0.724932,2.035574,0.086892,1.410274,2.648413,0.437534,-2.543382,6.686479,2.332192,89.855094,...,44.940635,44.909524,10.936250,33.836721,35.271493,14.260952,0.482917,26.097361,46.020147,19.277917
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505,1.570000,0.250000,0.010000,0.050000,0.040000,0.790000,-2.260000,2.720000,0.720000,28.090000,...,17.320000,22.070000,6.195821,10.530000,7.910000,-5.110000,0.640000,65.800000,463.460000,10.370000
506,0.560000,1.733289,0.060000,0.830000,1.580000,0.280000,-3.240000,6.120000,1.120000,83.647794,...,61.101047,63.153488,6.195821,53.290000,42.510000,12.240260,0.290000,156.700000,43.870000,14.100000
507,0.240000,-0.990000,0.320000,0.030000,0.010000,0.610000,-1.792316,1.030000,0.840000,26.040000,...,22.870000,22.870000,8.730000,52.026374,16.700000,-1.040000,0.750000,3.480000,6.090000,13.930000
508,0.810000,-1.810000,0.030000,3.370000,40.040000,0.310000,-0.480000,47.500000,3.800000,83.647794,...,165.360000,165.360000,6.195821,80.070000,75.390000,12.240260,-0.220000,17.709700,52.306596,263.130000
509,0.330000,1.733289,0.090000,2.090000,1.560000,0.220000,-2.670000,11.580000,2.570000,83.647794,...,61.101047,63.153488,6.195821,222.560000,158.440000,12.240260,-0.010000,-86.740000,-116.850000,48.790000

# Lets do some sense checking of what we have got.

102 stocks for 5 years = 510 values for each Financial Statement Metric attribute.

We want to check through each Financial Statement Metric and check the mean, 25% threshold value and the 75% threshold value for reasonableness.

We can see in our work below we have two columns that may have outliers in the data being the Capex to Revenue metric and the Cash to Debt metric.  

We can explain both these data outturns:

Technology companies are sometimes early stage and investing heavily before they have Revenue - this would explain the Capex to Revenue outliers.

Some mature Technology companies have very strong cash flow and hence huge cash resources compared to their Debt - this would explain the Cash to Debt outliers.

In [19]:
stats = data17_21.describe()
for col in stats.columns:
    print(f"{col}:")
    print(f"  Range: {stats[col]['25%']} - {stats[col]['75%']}")
    print(f"  Mean: {stats[col]['mean']}")

asset_turnover:
  Range: 0.42 - 0.79
  Mean: 0.7033831718804439
buyback_yield:
  Range: 0.5725 - 2.7675
  Mean: 2.0903778112848315
capex_to_revenue:
  Range: 0.03 - 0.09
  Mean: 0.3825728338239233
cash_ratio:
  Range: 0.41 - 1.62
  Mean: 1.321372930804764
cash_to_debt:
  Range: 0.3 - 2.6484126984126983
  Mean: 3.798609663432115
cogs_to_revenue:
  Range: 0.27 - 0.55
  Mean: 0.43779630826096283
mscore:
  Range: -2.76 - -2.3825
  Mean: -2.364131619329655
zscore:
  Range: 3.07 - 9.38
  Mean: 7.537673395007848
current_ratio:
  Range: 1.11 - 2.6575
  Mean: 2.2023971758110545
days_inventory:
  Range: 56.4175 - 92.4830303030303
  Mean: 88.41317741721831
debt_to_equity:
  Range: 0.21 - 1.19
  Mean: 0.44053218973253866
debt_to_assets:
  Range: 0.16 - 0.38
  Mean: 0.29147847767777885
debt_to_ebitda:
  Range: 0.4725 - 3.0769512195121953
  Mean: 1.8242965861409186
debt_to_revenue:
  Range: 0.26 - 0.805
  Mean: 0.7805570727782329
e10:
  Range: 1.625 - 3.600588235294117
  Mean: 3.19818575657554
effective_interest_rate:
  Range: 3.0025 - 4.3375
  Mean: 3.9048557068570378
equity_to_assets:
  Range: 0.28 - 0.57
  Mean: 0.39601637054116384
enterprise_value_to_ebit:
  Range: 14.0075 - 38.396428571428565
  Mean: 19.560365016764333
enterprise_value_to_ebitda:
  Range: 10.21025 - 25.064042553191495
  Mean: 19.194559745869235
enterprise_value_to_revenue:
  Range: 3.8 - 9.3875
  Mean: 8.333226804123713
earning_yield_greenblatt:
  Range: 2.04 - 5.577500000000001
  Mean: 3.868672650182156
fscore:
  Range: 5.0 - 7.0
  Mean: 5.929971279616441
gross_profit_to_assets:
  Range: 25.05 - 45.4225
  Mean: 36.08223739249992
interest_coverage:
  Range: 7.15 - 40.3625
  Mean: 40.3339721299269
inventory_turnover:
  Range: 4.48 - 17.598550724637676
  Mean: 16.295323865502205
inventory_to_revenue:
  Range: 0.07 - 0.12
  Mean: 0.10184710168945935
liabilities_to_assets:
  Range: 0.42 - 0.72
  Mean: 0.6004735126840651
longterm_debt_to_assets:
  Range: 0.15 - 0.3475
  Mean: 0.26509675708828123
price_to_book_ratio:
  Range: 4.512499999999999 - 13.695
  Mean: 13.030300061094936
price_to_earnings_ratio:
  Range: 22.7375 - 50.125
  Mean: 48.77542874337829
price_to_earnings_ratio_nri:
  Range: 22.939999999999998 - 50.38
  Mean: 49.193900157121035
price_earnings_growth_ratio:
  Range: 1.7149999999999999 - 6.72225352112676
  Mean: 7.985947780714139
price_to_free_cashflow:
  Range: 21.61 - 42.985
  Mean: 48.121407764377814
price_to_operating_cashflow:
  Range: 15.495000000000001 - 35.27149253731343
  Mean: 36.29578279505216
rate_of_return:
  Range: 11.827499999999999 - 19.990000000000002
  Mean: 14.404138528138535
scaled_net_operating_assets:
  Range: 0.33 - 0.68
  Mean: 0.4862782395048018
yoy_ebitda_growth:
  Range: 1.6225 - 32.207499999999996
  Mean: 25.561496552119106
yoy_eps_growth:
  Range: -6.3275 - 52.306595744680855
  Mean: 38.97706114830094
yoy_revenue_growth:
  Range: 6.38 - 23.697499999999998
  Mean: 20.5397909784508

In [20]:
data17_21.to_csv("data17_21.csv", index=False)

# Finally, we have created a further dataset with the 2022 year removed which is  a year that saw negative Share Price returns.


It may be subsequently found that any model solely trained on Training data with solely positive share price return years will be better at predicting future positive return years.  In other words, some stocks do better in positive return years due to the cyclicality of their business models or the nature of their financial attributes.

In [21]:
data17_20 = data17_21[ : -102]

In [22]:
data17_20

,asset_turnover,buyback_yield,capex_to_revenue,cash_ratio,cash_to_debt,cogs_to_revenue,mscore,zscore,current_ratio,days_inventory,...,price_to_earnings_ratio,price_to_earnings_ratio_nri,price_earnings_growth_ratio,price_to_free_cashflow,price_to_operating_cashflow,rate_of_return,scaled_net_operating_assets,yoy_ebitda_growth,yoy_eps_growth,yoy_revenue_growth
0,0.660000,4.090000,0.050000,0.740000,0.640000,0.620000,-2.500000,3.620000,1.280000,9.040000,...,16.730000,16.730000,1.250000,15.630000,12.600000,19.240000,0.550000,9.360000,10.830000,11.340000
1,0.724932,2.035574,0.040000,1.410274,2.648413,0.250000,-2.543382,6.686479,2.332192,89.855094,...,44.940635,44.909524,10.936250,33.836721,35.271493,14.260952,0.482917,26.097361,46.020147,19.277917
2,0.540000,1.080000,0.020000,1.650000,3.090000,0.140000,-2.490000,10.810000,2.050000,89.855094,...,52.320000,52.320000,2.420000,32.410000,30.420000,21.820000,0.360000,39.030000,45.690000,25.510000
3,0.360000,0.140000,0.040000,0.660000,0.130000,0.400000,-1.490000,2.640000,1.470000,81.440000,...,39.870000,39.870000,4.440000,33.680000,27.720000,11.950000,2.130000,25.600000,-17.030000,36.640000
4,0.724932,2.035574,0.086892,1.410274,2.648413,0.437534,-2.543382,6.686479,2.332192,89.855094,...,44.940635,44.909524,10.936250,33.836721,35.271493,14.260952,0.482917,26.097361,46.020147,19.277917
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403,1.580000,4.830000,0.010000,0.020000,0.010000,0.790000,-3.110000,2.220000,0.670000,32.830000,...,73.120000,190.100000,13.344429,8.140000,6.100000,10.550000,0.890000,-55.550000,-87.940000,6.570000
404,0.590000,1.422184,0.070000,0.650000,1.240000,0.290000,-3.190000,5.750000,1.040000,88.257353,...,71.222262,70.917500,13.344429,67.650000,48.510000,13.355974,0.380000,14.940000,-9.840000,22.650000
405,0.220000,-2.030000,0.470000,0.030000,0.010000,0.570000,-2.417895,1.030000,0.770000,30.010000,...,23.900000,23.900000,7.660000,82.560323,12.360000,0.090000,0.730000,3.390000,5.680000,-1.540000
406,0.760000,-2.550000,0.060000,2.560000,11.800000,0.190000,-2.230000,29.250000,3.280000,88.257353,...,847.780000,847.780000,13.344429,170.690000,127.810000,13.355974,0.140000,134.690000,200.000000,99.110000
407,0.350000,1.422184,0.120000,3.230000,1.510000,0.220000,-2.800000,8.210000,3.730000,88.257353,...,71.222262,70.917500,13.344429,609.620000,211.830000,13.355974,0.030000,-400.750000,-286.960000,36.070000

In [23]:
data17_20.to_csv("data17_20.csv", index=False)

#

# Now we have two datsets for Training. 


2017 to 2021 which will include calendar years when the Nasdaq 100 index had positive Price returns and years when the index had negative Price returns.

2017 to 2020 when the Nasdaq 100 index only had positive Price returns

#

# 5. Extract the Y data from external share price data sources.

In [24]:
!pip install yfinance

Requirement already satisfied: yfinance in c:\users\mark\anaconda3\lib\site-packages (0.2.12)
Requirement already satisfied: numpy>=1.16.5 in c:\users\mark\anaconda3\lib\site-packages (from yfinance) (1.20.3)
Requirement already satisfied: lxml>=4.9.1 in c:\users\mark\anaconda3\lib\site-packages (from yfinance) (4.9.2)
Requirement already satisfied: appdirs>=1.4.4 in c:\users\mark\anaconda3\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: html5lib>=1.1 in c:\users\mark\anaconda3\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: cryptography>=3.3.2 in c:\users\mark\anaconda3\lib\site-packages (from yfinance) (3.4.8)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\mark\anaconda3\lib\site-packages (from yfinance) (2.3.5)
Requirement already satisfied: pandas>=1.3.0 in c:\users\mark\anaconda3\lib\site-packages (from yfinance) (1.3.4)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\mark\anaconda3\lib\site-packages (from yfinance) (4.11.2)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\mark\anaconda3\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: requests>=2.26 in c:\users\mark\anaconda3\lib\site-packages (from yfinance) (2.26.0)
Requirement already satisfied: pytz>=2022.5 in c:\users\mark\anaconda3\lib\site-packages (from yfinance) (2022.7.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\mark\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.2.1)
Requirement already satisfied: cffi>=1.12 in c:\users\mark\anaconda3\lib\site-packages (from cryptography>=3.3.2->yfinance) (1.14.6)
Requirement already satisfied: pycparser in c:\users\mark\anaconda3\lib\site-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.20)
Requirement already satisfied: webencodings in c:\users\mark\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in c:\users\mark\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\mark\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\mark\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\mark\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (3.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\mark\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\mark\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2.0.4)

In [25]:
import yfinance as yf

#

# Methodology:  We take our Stock Names and put them into a list which we call Ticker List and then extract a series of Price History Data.  

We then clean and manage the data until we have the required Y labels for our 5 years of X data.

#

In [26]:
data = yf.download("AAPL ABNB ADBE ADI ADP ADSK AEP ALGN AMAT AMD AMGN AMZN ANSS ASML ATVI AVGO AZN BIDU BIIB BKNG CDNS CEG CHTR CMCSA COST CPRT CRWD CSCO CSX CTAS CTSH DDOG DLTR DOCU DXCM EA EBAY EXC FAST FISV FTNT GILD GOOG GOOGL HON IDXX ILMN INTC INTU ISRG JD KDP KHC KLAC LCID LRCX LULU MAR MCHP MDLZ MELI META MNST MRNA MRVL MSFT MTCH MU NFLX NTES NVDA NXPI ODFL OKTA ORLY PANW PAYX PCAR PDD PEP PYPL QCOM REGN ROST SBUX SGEN SIRI SNPS SPLK SWKS TEAM TMUS TSLA TXN VRSK VRSN VRTX WBA WDAY XEL ZM ZS", start="2018-01-02", end="2023-04-30", interval="3mo")
data

[*********************100%***********************]  102 of 102 completed

1 Failed download:
- FISV: Data doesn't exist for startDate = 1514869200, endDate = 1682827200

             Adj Close                                                  \
                  AAPL        ABNB        ADBE         ADI         ADP
Date
2018-01-01   39.769665         NaN  216.080002   81.999680  101.208412
2018-03-01         NaN         NaN         NaN         NaN         NaN
2018-04-01   44.056389         NaN  243.809998   86.758820  120.292191
2018-06-01         NaN         NaN         NaN         NaN         NaN
2018-07-01   53.933533         NaN  269.950012   84.024292  135.795273
2018-09-01         NaN         NaN         NaN         NaN         NaN
2018-10-01   37.819233         NaN  226.240005   78.374771  118.739983
2018-12-01         NaN         NaN         NaN         NaN         NaN
2019-01-01   45.700691         NaN  266.489990   96.644028  145.481247
2019-03-01         NaN         NaN         NaN         NaN         NaN
2019-04-01   47.822445         NaN  294.649994  104.152222  151.356171
2019-06-01         NaN         NaN         NaN         NaN         NaN
2019-07-01   54.325191         NaN  276.250000  103.670898  148.486679
2019-09-01         NaN         NaN         NaN         NaN         NaN
2019-10-01   71.497093         NaN  329.809998  110.821960  157.611832
2019-12-01         NaN         NaN         NaN         NaN         NaN
2020-01-01   62.099701         NaN  318.239990   83.997948  127.039551
2020-03-01         NaN         NaN         NaN         NaN         NaN
2020-04-01   89.298584         NaN  435.309998  115.531784  139.244461
2020-06-01         NaN         NaN         NaN         NaN         NaN
2020-07-01  113.702461         NaN  490.429993  110.571533  131.218658
2020-09-01         NaN         NaN         NaN         NaN         NaN
2020-10-01  130.510178         NaN  500.119995  140.647659  166.858109
2020-12-01         NaN  206.350006         NaN         NaN         NaN
2021-01-01  120.350594         NaN  475.369995  148.298920  179.437531
2021-03-01         NaN  140.399994         NaN         NaN         NaN
2021-04-01  135.144089         NaN  585.640015  165.337372  190.071915
2021-06-01         NaN  154.990005         NaN         NaN         NaN
2021-07-01  139.861038         NaN  575.719971  161.522903  192.217972
2021-09-01         NaN  172.539993         NaN         NaN         NaN
2021-10-01  175.776199         NaN  567.059998  170.234283  238.160141
2021-12-01         NaN  151.490005         NaN         NaN         NaN
2022-01-01  173.098389         NaN  455.619995  160.590530  220.750107
2022-03-01         NaN  120.870003         NaN         NaN         NaN
2022-04-01  135.709076         NaN  366.059998  142.724075  204.787964
2022-06-01         NaN  113.120003         NaN         NaN         NaN
2022-07-01  137.379684         NaN  275.200012  136.763382  221.581680
2022-09-01         NaN  102.139999         NaN         NaN         NaN
2022-10-01  129.338165         NaN  336.529999  161.771683  235.004654
2022-12-01         NaN  123.279999         NaN         NaN         NaN
2023-01-01  164.421173         NaN  385.369995  195.370636  220.097946
2023-03-01         NaN  119.669998         NaN         NaN         NaN
2023-04-01  169.445618         NaN  377.559998  179.022522  218.729614

                                                                       ...  \
                  ADSK        AEP        ALGN        AMAT         AMD  ...
Date                                                                   ...
2018-01-01  125.580002  56.847176  251.130005   51.913708   10.050000  ...
2018-03-01         NaN        NaN         NaN         NaN         NaN  ...
2018-04-01  131.089996  57.951672  342.140015   43.198326   14.990000  ...
2018-06-01         NaN        NaN         NaN         NaN         NaN  ...
2018-07-01  156.110001  59.867668  391.220001   36.291130   30.889999  ...
2018-09-01         NaN        NaN         NaN         NaN         NaN  ...
2018-10-01  128.610001  63.684620  209.429993   30.882973   18.459999  ...
2018-12-01         NaN        NaN         NaN         NaN         NaN  ...
2019-01-01  155.820007  72.004013  284.329987   37.620815   25.520000  ...
2019-03-01         NaN        NaN         NaN         NaN         NaN  ...
2019-04-01  162.899994  76.312035  273.700012   42.818779   30.370001  ...
2019-06-01         NaN        NaN         NaN         NaN         NaN  ...
2019-07-01  147.699997  81.892365  180.919998   47.819756   28.990000  ...
2019-09-01         NaN        NaN         NaN         NaN         NaN  ...
2019-10-01  183.460007  83.230522  279.040009   58.759399   45.860001  ...
2019-12-01         NaN        NaN         NaN         NaN         NaN  ...
2020-01-01  156.100006  70.974785  173.949997   44.260574   45.480000  ...
2020-03-01         NaN        NaN         NaN         NaN         NaN  ...
2020-04-01  239.190002  71.160202  274.440002   58.576679   52.610001  ...
2020-06-01         NaN        NaN         NaN         NaN         NaN  ...
2020-07-01  231.009995  73.682045  327.359985   57.837044   81.989998  ...
2020-09-01         NaN        NaN         NaN         NaN         NaN  ...
2020-10-01  305.339996  75.691032  534.380005   84.237556   91.709999  ...
2020-12-01         NaN        NaN         NaN         NaN         NaN  ...
2021-01-01  277.149994  77.622650  541.530029  130.794067   78.500000  ...
2021-03-01         NaN        NaN         NaN         NaN         NaN  ...
2021-04-01  291.899994  78.236771  611.000000  139.673813   93.930000  ...
2021-06-01         NaN        NaN         NaN         NaN         NaN  ...
2021-07-01  285.170013  75.718735  665.429993  126.486305  102.900002  ...
2021-09-01         NaN        NaN         NaN         NaN         NaN  ...
2021-10-01  281.190002  83.677780  657.179993  154.900131  143.899994  ...
2021-12-01         NaN        NaN         NaN         NaN         NaN  ...
2022-01-01  214.350006  94.715904  436.000000  129.949112  109.339996  ...
2022-03-01         NaN        NaN         NaN         NaN         NaN  ...
2022-04-01  171.960007  91.874413  236.669998   89.864098   76.470001  ...
2022-06-01         NaN        NaN         NaN         NaN         NaN  ...
2022-07-01  186.800003  83.439674  207.110001   81.122978   63.360001  ...
2022-09-01         NaN        NaN         NaN         NaN         NaN  ...
2022-10-01  186.869995  92.363548  210.899994   96.667366   64.769997  ...
2022-12-01         NaN        NaN         NaN         NaN         NaN  ...
2023-01-01  208.160004  89.342278  334.140015  122.228020   98.010002  ...
2023-03-01         NaN        NaN         NaN         NaN         NaN  ...
2023-04-01  194.789993  91.587471  325.299988  112.739456   89.370003  ...

                  Volume                                                    \
                    TSLA          TXN        VRSK        VRSN         VRTX
Date
2018-01-01  3.996878e+09  244747000.0  39480600.0  51139400.0   72650200.0
2018-03-01           NaN          NaN         NaN         NaN          NaN
2018-04-01  8.389710e+09  311066000.0  56263600.0  67303600.0  106058000.0
2018-06-01           NaN          NaN         NaN         NaN          NaN
2018-07-01  9.686457e+09  304898400.0  43489900.0  43792000.0   74373900.0
2018-09-01           NaN          NaN         NaN         NaN          NaN
2018-10-01  8.487465e+09  501006900.0  60204600.0  61787700.0   93515000.0
2018-12-01           NaN          NaN         NaN         NaN          NaN
2019-01-01  7.769936e+09  355035000.0  44427000.0  37675500.0   90485200.0
2019-03-01           NaN          NaN         NaN         NaN          NaN
2019-04-01  1.092475e+10  304105000.0  49921700.0  36305500.0   76422400.0
2019-06-01           NaN          NaN         NaN         NaN          NaN
2019-07-01  7.033539e+09  292378100.0  44692300.0  38562100.0   74217400.0
2019-09-01           NaN          NaN         NaN         NaN          NaN
2019-10-01  8.892501e+09  286572000.0  54490200.0  38588300.0   83047000.0
2019-12-01           NaN          NaN         NaN         NaN          NaN
2020-01-01  1.951110e+10  428234400.0  62443200.0  46526400.0  114791700.0
2020-03-01           NaN          NaN         NaN         NaN          NaN
2020-04-01  1.364931e+10  348766800.0  60539000.0  43156800.0  130698700.0
2020-06-01           NaN          NaN         NaN         NaN          NaN
2020-07-01  1.556049e+10  274618300.0  44596300.0  44481700.0   82406100.0
2020-09-01           NaN          NaN         NaN         NaN          NaN
2020-10-01  8.437834e+09  254040900.0  38895000.0  37779900.0  134397300.0
2020-12-01           NaN          NaN         NaN         NaN          NaN
2021-01-01  6.513015e+09  300820500.0  68215700.0  41132700.0  127476800.0
2021-03-01           NaN          NaN         NaN         NaN          NaN
2021-04-01  5.470912e+09  264879900.0  54013700.0  35098700.0  132207800.0
2021-06-01           NaN          NaN         NaN         NaN          NaN
2021-07-01  3.659838e+09  225661500.0  53298400.0  27750300.0  116526300.0
2021-09-01           NaN          NaN         NaN         NaN          NaN
2021-10-01  5.064306e+09  278122300.0  51907800.0  37993300.0  119027200.0
2021-12-01           NaN          NaN         NaN         NaN          NaN
2022-01-01  5.036406e+09  396931300.0  81360400.0  39453100.0  105424700.0
2022-03-01           NaN          NaN         NaN         NaN          NaN
2022-04-01  5.480409e+09  371049200.0  64442200.0  49777600.0  110340200.0
2022-06-01           NaN          NaN         NaN         NaN          NaN
2022-07-01  4.739418e+09  347975300.0  46180200.0  39429100.0   88449800.0
2022-09-01           NaN          NaN         NaN         NaN          NaN
2022-10-01  6.564786e+09  362510700.0  58093700.0  47164800.0   90700100.0
2022-12-01           NaN          NaN         NaN         NaN          NaN
2023-01-01  1.083396e+10  331719900.0  67143100.0  37076900.0   79407000.0
2023-03-01           NaN          NaN         NaN         NaN          NaN
2023-04-01  2.505176e+09   87499700.0  14394900.0   7504100.0   19841700.0


                    WBA         WDAY          XEL           ZM           ZS
Date
2018-01-01  228778800.0   71893900.0  163809200.0          NaN          NaN
2018-03-01          NaN          NaN          NaN          NaN   25924800.0
2018-04-01  410755300.0  114331600.0  197005000.0          NaN          NaN
2018-06-01          NaN          NaN          NaN          NaN   99524900.0
2018-07-01  396403400.0  108598900.0  201767200.0          NaN          NaN
2018-09-01          NaN          NaN          NaN          NaN   98384800.0
2018-10-01  442733500.0  156984000.0  292830100.0          NaN          NaN
2018-12-01          NaN          NaN          NaN          NaN  103489100.0
2019-01-01  355595400.0  119549700.0  217318000.0          NaN          NaN
2019-03-01          NaN          NaN          NaN          NaN  158297600.0
2019-04-01  435517600.0  108171000.0  186583500.0  118356100.0          NaN
2019-06-01          NaN          NaN          NaN          NaN  147131100.0
2019-07-01  296458300.0  116132500.0  210107400.0  124855000.0          NaN
2019-09-01          NaN          NaN          NaN          NaN  208257600.0
2019-10-01  354801600.0  132765000.0  193005700.0  170056900.0          NaN
2019-12-01          NaN          NaN          NaN          NaN  149505300.0
2020-01-01  450024100.0  150699700.0  268814000.0  527420500.0          NaN
2020-03-01          NaN          NaN          NaN          NaN  211060800.0
2020-04-01  425349400.0  153075400.0  203140900.0  852423300.0          NaN
2020-06-01          NaN          NaN          NaN          NaN  201285300.0
2020-07-01  443370700.0  123346000.0  149209000.0  610247100.0          NaN
2020-09-01          NaN          NaN          NaN          NaN  138782100.0
2020-10-01  496820100.0  130152400.0  156560800.0  563768600.0          NaN
2020-12-01          NaN          NaN          NaN          NaN  146393100.0
2021-01-01  406535000.0  122885700.0  185663100.0  334113000.0          NaN
2021-03-01          NaN          NaN          NaN          NaN  131371200.0
2021-04-01  305766400.0   96779600.0  172728400.0  198879600.0          NaN
2021-06-01          NaN          NaN          NaN          NaN   94442600.0
2021-07-01  371816700.0  102250000.0  165993100.0  269502300.0          NaN
2021-09-01          NaN          NaN          NaN          NaN  115799700.0
2021-10-01  393403200.0   97347200.0  218405400.0  277773800.0          NaN
2021-12-01          NaN          NaN          NaN          NaN  181375000.0
2022-01-01  427184900.0  152624100.0  216945500.0  298444500.0          NaN
2022-03-01          NaN          NaN          NaN          NaN  169992700.0
2022-04-01  451183600.0  195544500.0  208175300.0  332089000.0          NaN
2022-06-01          NaN          NaN          NaN          NaN  129876500.0
2022-07-01  427772800.0  172815600.0  171706300.0  294335600.0          NaN
2022-09-01          NaN          NaN          NaN          NaN  159352800.0
2022-10-01  443324500.0  139526100.0  210359700.0  237397000.0          NaN
2022-12-01          NaN          NaN          NaN          NaN  155572500.0
2023-01-01  437305300.0  125033600.0  183425400.0  241507100.0          NaN
2023-03-01          NaN          NaN          NaN          NaN  122980400.0
2023-04-01  115406400.0   31737700.0   45805800.0   76755300.0          NaN

[43 rows x 612 columns]

In [27]:
data = data['Close']
data

,AAPL,ABNB,ADBE,ADI,ADP,ADSK,AEP,ALGN,AMAT,AMD,...,TSLA,TXN,VRSK,VRSN,VRTX,WBA,WDAY,XEL,ZM,ZS
Date,,,,,,,,,,,,,,,,,,,,,
2018-01-01,41.945000,NaN,216.080002,91.129997,113.480003,125.580002,68.589996,251.130005,55.610001,10.050000,...,17.742001,103.889999,104.000000,118.559998,162.979996,65.470001,127.110001,45.480000,NaN,NaN
2018-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.260000
2018-04-01,46.277500,NaN,243.809998,95.919998,134.139999,131.089996,69.250000,342.140015,46.189999,14.990000,...,22.863333,110.250000,107.639999,137.419998,169.960007,60.020000,121.120003,45.680000,NaN,NaN
2018-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.790001
2018-07-01,56.435001,NaN,269.950012,92.459999,150.660004,156.110001,70.879997,391.220001,38.650002,30.889999,...,17.651333,107.290001,120.550003,160.119995,192.740005,72.900002,145.979996,47.209999,NaN,NaN
2018-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.259998
2018-10-01,39.435001,NaN,226.240005,85.830002,131.119995,128.610001,74.739998,209.429993,32.740002,18.459999,...,22.186666,94.500000,109.040001,148.289993,165.710007,68.330002,159.679993,49.270000,NaN,NaN
2018-12-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.680000
2019-01-01,47.487499,NaN,266.489990,105.269997,159.740005,155.820007,83.750000,284.329987,39.660000,25.520000,...,18.657333,106.070000,133.000000,181.559998,183.949997,63.270000,192.850006,56.209999,NaN,NaN
2019-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68.629997
2019-04-01,49.480000,NaN,294.649994,112.870003,165.330002,162.899994,88.010002,273.700012,44.910000,30.370001,...,14.897333,114.760002,146.460007,209.160004,183.380005,54.669998,205.580002,59.490002,88.790001,NaN
2019-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68.739998
2019-07-01,55.992500,NaN,276.250000,111.730003,161.419998,147.699997,93.690002,180.919998,49.900002,28.990000,...,16.058001,129.240005,158.139999,188.630005,169.419998,55.310001,169.960007,64.889999,76.199997,NaN
2019-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.130001
2019-10-01,73.412498,NaN,329.809998,118.839996,170.500000,183.460007,94.510002,279.040009,61.040001,45.860001,...,27.888666,128.289993,149.339996,192.679993,218.949997,58.959999,164.449997,63.490002,68.040001,NaN
2019-12-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.990002
2020-01-01,63.572498,NaN,318.239990,89.650002,136.679993,156.100006,79.980003,173.949997,45.820000,45.480000,...,34.933334,99.930000,139.380005,180.089996,237.949997,45.750000,130.220001,60.299999,146.119995,NaN
2020-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.089996
2020-04-01,91.199997,NaN,435.309998,122.639999,148.889999,239.190002,79.639999,274.440002,60.450001,52.610001,...,71.987335,126.970001,170.199997,206.830002,290.309998,42.389999,187.360001,62.500000,253.539993,NaN
2020-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,143.339996
2020-07-01,115.809998,NaN,490.429993,116.739998,139.490005,231.009995,81.730003,327.359985,59.450001,81.989998,...,143.003326,142.789993,185.309998,204.850006,272.119995,35.919998,215.130005,69.010002,470.109985,NaN
2020-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,155.750000
2020-10-01,132.690002,NaN,500.119995,147.729996,176.199997,305.339996,83.269997,534.380005,86.300003,91.709999,...,235.223328,164.130005,207.589996,216.399994,236.339996,39.880001,239.610001,66.669998,337.320007,NaN
2020-12-01,NaN,206.350006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,205.029999
2021-01-01,122.150002,NaN,475.369995,155.080002,188.470001,277.149994,84.699997,541.530029,133.600006,78.500000,...,222.643326,188.990005,176.690002,198.759995,214.889999,54.900002,248.429993,66.510002,321.290009,NaN
2021-03-01,NaN,140.399994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,194.199997
2021-04-01,136.960007,NaN,585.640015,172.160004,198.619995,291.899994,84.589996,611.000000,142.399994,93.930000,...,226.566666,192.300003,174.720001,227.690002,201.630005,52.610001,238.740005,65.879997,387.029999,NaN
2021-06-01,NaN,154.990005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,278.339996
2021-07-01,141.500000,NaN,575.719971,167.479996,199.919998,285.170013,81.180000,665.429993,128.729996,102.900002,...,258.493347,192.210007,200.270004,205.009995,181.389999,47.049999,249.889999,62.500000,261.500000,NaN
2021-09-01,NaN,172.539993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,346.970001
2021-10-01,177.570007,NaN,567.059998,175.770004,246.580002,281.190002,88.970001,657.179993,157.360001,143.899994,...,352.260010,188.470001,228.729996,253.820007,219.600006,52.160000,273.179993,67.699997,183.910004,NaN
2021-12-01,NaN,151.490005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,239.149994
2022-01-01,174.610001,NaN,455.619995,165.179993,227.539993,214.350006,99.769997,436.000000,131.800003,109.339996,...,359.200012,183.479996,214.630005,222.460007,260.970001,44.770000,239.460007,72.169998,117.230003,NaN
2022-03-01,NaN,120.870003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,153.089996
2022-04-01,136.720001,NaN,366.059998,146.089996,210.039993,171.960007,95.940002,236.669998,90.980003,76.470001,...,224.473328,153.649994,173.089996,167.330002,281.790009,37.900002,139.580002,70.760002,107.970001,NaN
2022-06-01,NaN,113.120003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,159.240005
2022-07-01,138.199997,NaN,275.200012,139.339996,226.190002,186.800003,86.449997,207.110001,81.930000,63.360001,...,265.250000,154.779999,170.529999,173.699997,289.540009,31.400000,152.220001,64.000000,73.589996,NaN
2022-09-01,NaN,102.139999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,133.449997
2022-10-01,129.929993,NaN,336.529999,164.029999,238.860001,186.869995,94.949997,210.899994,97.379997,64.769997,...,123.180000,165.220001,176.419998,205.440002,288.779999,37.360001,167.330002,70.110001,67.739998,NaN
2022-12-01,NaN,123.279999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,131.149994
2023-01-01,164.899994,NaN,385.369995,197.220001,222.630005,208.160004,90.989998,334.140015,122.830002,98.010002,...,207.460007,186.009995,191.860001,211.330002,315.070007,34.580002,206.539993,67.440002,73.839996,NaN
2023-03-01,NaN,119.669998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.099998
2023-04-01,169.679993,NaN,377.559998,179.880005,220.000000,194.789993,92.419998,325.299988,113.029999,89.370003,...,164.309998,167.199997,194.110001,221.800003,340.730011,35.250000,186.139999,69.910004,61.430000,NaN

In [28]:
column_names1 = data.keys()
column_names1 = column_names1.tolist()
column_names1

['AAPL',
 'ABNB',
 'ADBE',
 'ADI',
 'ADP',
 'ADSK',
 'AEP',
 'ALGN',
 'AMAT',
 'AMD',
 'AMGN',
 'AMZN',
 'ANSS',
 'ASML',
 'ATVI',
 'AVGO',
 'AZN',
 'BIDU',
 'BIIB',
 'BKNG',
 'CDNS',
 'CEG',
 'CHTR',
 'CMCSA',
 'COST',
 'CPRT',
 'CRWD',
 'CSCO',
 'CSX',
 'CTAS',
 'CTSH',
 'DDOG',
 'DLTR',
 'DOCU',
 'DXCM',
 'EA',
 'EBAY',
 'EXC',
 'FAST',
 'FISV',
 'FTNT',
 'GILD',
 'GOOG',
 'GOOGL',
 'HON',
 'IDXX',
 'ILMN',
 'INTC',
 'INTU',
 'ISRG',
 'JD',
 'KDP',
 'KHC',
 'KLAC',
 'LCID',
 'LRCX',
 'LULU',
 'MAR',
 'MCHP',
 'MDLZ',
 'MELI',
 'META',
 'MNST',
 'MRNA',
 'MRVL',
 'MSFT',
 'MTCH',
 'MU',
 'NFLX',
 'NTES',
 'NVDA',
 'NXPI',
 'ODFL',
 'OKTA',
 'ORLY',
 'PANW',
 'PAYX',
 'PCAR',
 'PDD',
 'PEP',
 'PYPL',
 'QCOM',
 'REGN',
 'ROST',
 'SBUX',
 'SGEN',
 'SIRI',
 'SNPS',
 'SPLK',
 'SWKS',
 'TEAM',
 'TMUS',
 'TSLA',
 'TXN',
 'VRSK',
 'VRSN',
 'VRTX',
 'WBA',
 'WDAY',
 'XEL',
 'ZM',
 'ZS']

In [29]:
data_price = data.iloc[0:103]

data_price

,AAPL,ABNB,ADBE,ADI,ADP,ADSK,AEP,ALGN,AMAT,AMD,...,TSLA,TXN,VRSK,VRSN,VRTX,WBA,WDAY,XEL,ZM,ZS
Date,,,,,,,,,,,,,,,,,,,,,
2018-01-01,41.945000,NaN,216.080002,91.129997,113.480003,125.580002,68.589996,251.130005,55.610001,10.050000,...,17.742001,103.889999,104.000000,118.559998,162.979996,65.470001,127.110001,45.480000,NaN,NaN
2018-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.260000
2018-04-01,46.277500,NaN,243.809998,95.919998,134.139999,131.089996,69.250000,342.140015,46.189999,14.990000,...,22.863333,110.250000,107.639999,137.419998,169.960007,60.020000,121.120003,45.680000,NaN,NaN
2018-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.790001
2018-07-01,56.435001,NaN,269.950012,92.459999,150.660004,156.110001,70.879997,391.220001,38.650002,30.889999,...,17.651333,107.290001,120.550003,160.119995,192.740005,72.900002,145.979996,47.209999,NaN,NaN
2018-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.259998
2018-10-01,39.435001,NaN,226.240005,85.830002,131.119995,128.610001,74.739998,209.429993,32.740002,18.459999,...,22.186666,94.500000,109.040001,148.289993,165.710007,68.330002,159.679993,49.270000,NaN,NaN
2018-12-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.680000
2019-01-01,47.487499,NaN,266.489990,105.269997,159.740005,155.820007,83.750000,284.329987,39.660000,25.520000,...,18.657333,106.070000,133.000000,181.559998,183.949997,63.270000,192.850006,56.209999,NaN,NaN
2019-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68.629997
2019-04-01,49.480000,NaN,294.649994,112.870003,165.330002,162.899994,88.010002,273.700012,44.910000,30.370001,...,14.897333,114.760002,146.460007,209.160004,183.380005,54.669998,205.580002,59.490002,88.790001,NaN
2019-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68.739998
2019-07-01,55.992500,NaN,276.250000,111.730003,161.419998,147.699997,93.690002,180.919998,49.900002,28.990000,...,16.058001,129.240005,158.139999,188.630005,169.419998,55.310001,169.960007,64.889999,76.199997,NaN
2019-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.130001
2019-10-01,73.412498,NaN,329.809998,118.839996,170.500000,183.460007,94.510002,279.040009,61.040001,45.860001,...,27.888666,128.289993,149.339996,192.679993,218.949997,58.959999,164.449997,63.490002,68.040001,NaN
2019-12-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.990002
2020-01-01,63.572498,NaN,318.239990,89.650002,136.679993,156.100006,79.980003,173.949997,45.820000,45.480000,...,34.933334,99.930000,139.380005,180.089996,237.949997,45.750000,130.220001,60.299999,146.119995,NaN
2020-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.089996
2020-04-01,91.199997,NaN,435.309998,122.639999,148.889999,239.190002,79.639999,274.440002,60.450001,52.610001,...,71.987335,126.970001,170.199997,206.830002,290.309998,42.389999,187.360001,62.500000,253.539993,NaN
2020-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,143.339996
2020-07-01,115.809998,NaN,490.429993,116.739998,139.490005,231.009995,81.730003,327.359985,59.450001,81.989998,...,143.003326,142.789993,185.309998,204.850006,272.119995,35.919998,215.130005,69.010002,470.109985,NaN
2020-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,155.750000
2020-10-01,132.690002,NaN,500.119995,147.729996,176.199997,305.339996,83.269997,534.380005,86.300003,91.709999,...,235.223328,164.130005,207.589996,216.399994,236.339996,39.880001,239.610001,66.669998,337.320007,NaN
2020-12-01,NaN,206.350006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,205.029999
2021-01-01,122.150002,NaN,475.369995,155.080002,188.470001,277.149994,84.699997,541.530029,133.600006,78.500000,...,222.643326,188.990005,176.690002,198.759995,214.889999,54.900002,248.429993,66.510002,321.290009,NaN
2021-03-01,NaN,140.399994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,194.199997
2021-04-01,136.960007,NaN,585.640015,172.160004,198.619995,291.899994,84.589996,611.000000,142.399994,93.930000,...,226.566666,192.300003,174.720001,227.690002,201.630005,52.610001,238.740005,65.879997,387.029999,NaN
2021-06-01,NaN,154.990005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,278.339996
2021-07-01,141.500000,NaN,575.719971,167.479996,199.919998,285.170013,81.180000,665.429993,128.729996,102.900002,...,258.493347,192.210007,200.270004,205.009995,181.389999,47.049999,249.889999,62.500000,261.500000,NaN
2021-09-01,NaN,172.539993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,346.970001
2021-10-01,177.570007,NaN,567.059998,175.770004,246.580002,281.190002,88.970001,657.179993,157.360001,143.899994,...,352.260010,188.470001,228.729996,253.820007,219.600006,52.160000,273.179993,67.699997,183.910004,NaN
2021-12-01,NaN,151.490005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,239.149994
2022-01-01,174.610001,NaN,455.619995,165.179993,227.539993,214.350006,99.769997,436.000000,131.800003,109.339996,...,359.200012,183.479996,214.630005,222.460007,260.970001,44.770000,239.460007,72.169998,117.230003,NaN
2022-03-01,NaN,120.870003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,153.089996
2022-04-01,136.720001,NaN,366.059998,146.089996,210.039993,171.960007,95.940002,236.669998,90.980003,76.470001,...,224.473328,153.649994,173.089996,167.330002,281.790009,37.900002,139.580002,70.760002,107.970001,NaN
2022-06-01,NaN,113.120003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,159.240005
2022-07-01,138.199997,NaN,275.200012,139.339996,226.190002,186.800003,86.449997,207.110001,81.930000,63.360001,...,265.250000,154.779999,170.529999,173.699997,289.540009,31.400000,152.220001,64.000000,73.589996,NaN
2022-09-01,NaN,102.139999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,133.449997
2022-10-01,129.929993,NaN,336.529999,164.029999,238.860001,186.869995,94.949997,210.899994,97.379997,64.769997,...,123.180000,165.220001,176.419998,205.440002,288.779999,37.360001,167.330002,70.110001,67.739998,NaN
2022-12-01,NaN,123.279999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,131.149994
2023-01-01,164.899994,NaN,385.369995,197.220001,222.630005,208.160004,90.989998,334.140015,122.830002,98.010002,...,207.460007,186.009995,191.860001,211.330002,315.070007,34.580002,206.539993,67.440002,73.839996,NaN
2023-03-01,NaN,119.669998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.099998
2023-04-01,169.679993,NaN,377.559998,179.880005,220.000000,194.789993,92.419998,325.299988,113.029999,89.370003,...,164.309998,167.199997,194.110001,221.800003,340.730011,35.250000,186.139999,69.910004,61.430000,NaN

In [30]:
data_price.shape

(43, 102)

In [31]:
data_tran = data_price.T
data_tran

Date,2018-01-01,2018-03-01,2018-04-01,2018-06-01,2018-07-01,2018-09-01,2018-10-01,2018-12-01,2019-01-01,2019-03-01,...,2022-03-01,2022-04-01,2022-06-01,2022-07-01,2022-09-01,2022-10-01,2022-12-01,2023-01-01,2023-03-01,2023-04-01
AAPL,41.945000,NaN,46.277500,NaN,56.435001,NaN,39.435001,NaN,47.487499,NaN,...,NaN,136.720001,NaN,138.199997,NaN,129.929993,NaN,164.899994,NaN,169.679993
ABNB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,120.870003,NaN,113.120003,NaN,102.139999,NaN,123.279999,NaN,119.669998,NaN
ADBE,216.080002,NaN,243.809998,NaN,269.950012,NaN,226.240005,NaN,266.489990,NaN,...,NaN,366.059998,NaN,275.200012,NaN,336.529999,NaN,385.369995,NaN,377.559998
ADI,91.129997,NaN,95.919998,NaN,92.459999,NaN,85.830002,NaN,105.269997,NaN,...,NaN,146.089996,NaN,139.339996,NaN,164.029999,NaN,197.220001,NaN,179.880005
ADP,113.480003,NaN,134.139999,NaN,150.660004,NaN,131.119995,NaN,159.740005,NaN,...,NaN,210.039993,NaN,226.190002,NaN,238.860001,NaN,222.630005,NaN,220.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WBA,65.470001,NaN,60.020000,NaN,72.900002,NaN,68.330002,NaN,63.270000,NaN,...,NaN,37.900002,NaN,31.400000,NaN,37.360001,NaN,34.580002,NaN,35.250000
WDAY,127.110001,NaN,121.120003,NaN,145.979996,NaN,159.679993,NaN,192.850006,NaN,...,NaN,139.580002,NaN,152.220001,NaN,167.330002,NaN,206.539993,NaN,186.139999
XEL,45.480000,NaN,45.680000,NaN,47.209999,NaN,49.270000,NaN,56.209999,NaN,...,NaN,70.760002,NaN,64.000000,NaN,70.110001,NaN,67.440002,NaN,69.910004
ZM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,107.970001,NaN,73.589996,NaN,67.739998,NaN,73.839996,NaN,61.430000
ZS,NaN,26.26,NaN,42.790001,NaN,39.259998,NaN,49.68,NaN,68.629997,...,153.089996,NaN,159.240005,NaN,133.449997,NaN,131.149994,NaN,90.099998,NaN

In [32]:
data_transposed = data_tran.loc[:,['2018-01-01', '2019-01-01', '2020-01-01', '2021-01-01', '2022-01-01', '2023-01-01']]
data_transposed

Date  2018-01-01  2019-01-01  2020-01-01  2021-01-01  2022-01-01  2023-01-01
AAPL   41.945000   47.487499   63.572498  122.150002  174.610001  164.899994
ABNB         NaN         NaN         NaN         NaN         NaN         NaN
ADBE  216.080002  266.489990  318.239990  475.369995  455.619995  385.369995
ADI    91.129997  105.269997   89.650002  155.080002  165.179993  197.220001
ADP   113.480003  159.740005  136.679993  188.470001  227.539993  222.630005
...          ...         ...         ...         ...         ...         ...
WBA    65.470001   63.270000   45.750000   54.900002   44.770000   34.580002
WDAY  127.110001  192.850006  130.220001  248.429993  239.460007  206.539993
XEL    45.480000   56.209999   60.299999   66.510002   72.169998   67.440002
ZM           NaN         NaN  146.119995  321.290009  117.230003   73.839996
ZS           NaN         NaN         NaN         NaN         NaN         NaN

[102 rows x 6 columns]

#

# Methodology: At this junction we undertake some manual work in Excel. 

We replace NANs with actual data that we can source from (www.Nasdaq.com) and we hardcode into the dataset.

We also calculate annual returns.

#

In [33]:
data_transposed.iloc[1,3] = 146.8
data_transposed.iloc[1,4] = 166.49
data_transposed.iloc[1,5] = 85.65

data_transposed.iloc[26,2] = 49.87
data_transposed.iloc[26,3] = 211.82
data_transposed.iloc[26,4] = 204.75
data_transposed.iloc[26,5] = 105.29

data_transposed.iloc[31,2] = 37.78
data_transposed.iloc[31,3] = 98.44
data_transposed.iloc[31,4] = 178.11
data_transposed.iloc[31,5] = 73.5

data_transposed.iloc[33,1] = 29.695

data_transposed.iloc[54,3] = 10.01
data_transposed.iloc[54,4] = 38.05
data_transposed.iloc[54,5] = 6.83

data_transposed.iloc[63,1] = 15.27
data_transposed.iloc[63,2] = 19.56
data_transposed.iloc[63,3] = 104.47
data_transposed.iloc[63,4] = 253.98
data_transposed.iloc[63,5] = 179.62

data_transposed.iloc[78,0] = 68.08

data_transposed.iloc[101,1] = 39.21
data_transposed.iloc[101,2] = 46.5
data_transposed.iloc[101,3] = 199.71
data_transposed.iloc[101,4] = 321.33
data_transposed.iloc[101,5] = 111.9

# Methodology: So we have ended up with some NANs again where we have divided a Share Price by a non-existent Share Price.  

In these circumstances, we put the return for that period as 0.

In [34]:
data_t = data_transposed.fillna(0)
data_t

Date  2018-01-01  2019-01-01  2020-01-01  2021-01-01  2022-01-01  2023-01-01
AAPL   41.945000   47.487499   63.572498  122.150002  174.610001  164.899994
ABNB    0.000000    0.000000    0.000000  146.800000  166.490000   85.650000
ADBE  216.080002  266.489990  318.239990  475.369995  455.619995  385.369995
ADI    91.129997  105.269997   89.650002  155.080002  165.179993  197.220001
ADP   113.480003  159.740005  136.679993  188.470001  227.539993  222.630005
...          ...         ...         ...         ...         ...         ...
WBA    65.470001   63.270000   45.750000   54.900002   44.770000   34.580002
WDAY  127.110001  192.850006  130.220001  248.429993  239.460007  206.539993
XEL    45.480000   56.209999   60.299999   66.510002   72.169998   67.440002
ZM      0.000000    0.000000  146.119995  321.290009  117.230003   73.839996
ZS      0.000000   39.210000   46.500000  199.710000  321.330000  111.900000

[102 rows x 6 columns]

In [35]:
data_c = data_t.values
data_f = pd.DataFrame(data_c, columns=['2017', '2018', '2019', '2020', '2021','2022'])
data_f

           2017        2018        2019        2020        2021        2022
0     41.945000   47.487499   63.572498  122.150002  174.610001  164.899994
1      0.000000    0.000000    0.000000  146.800000  166.490000   85.650000
2    216.080002  266.489990  318.239990  475.369995  455.619995  385.369995
3     91.129997  105.269997   89.650002  155.080002  165.179993  197.220001
4    113.480003  159.740005  136.679993  188.470001  227.539993  222.630005
..          ...         ...         ...         ...         ...         ...
97    65.470001   63.270000   45.750000   54.900002   44.770000   34.580002
98   127.110001  192.850006  130.220001  248.429993  239.460007  206.539993
99    45.480000   56.209999   60.299999   66.510002   72.169998   67.440002
100    0.000000    0.000000  146.119995  321.290009  117.230003   73.839996
101    0.000000   39.210000   46.500000  199.710000  321.330000  111.900000

[102 rows x 6 columns]

# There are two ways data scientists may want the Share Price Return data for the stocks:

- either as discrete percentage returns (for example 23.5 per cent); 

- or as relative performance data points showing Over or Under perform binaries against the underlying index (for example using 1 for outperform and 0 for underperform).

So we will provide the Y data both ways.

In [36]:
data_f["Perf17"] = ((data_f["2018"] - data_f["2017"])/data_f["2017"])
data_f["Perf18"] = ((data_f["2019"] - data_f["2018"])/data_f["2018"])
data_f["Perf19"] = ((data_f["2020"] - data_f["2019"])/data_f["2019"])
data_f["Perf20"] = ((data_f["2021"] - data_f["2020"])/data_f["2020"])
data_f["Perf21"] = ((data_f["2022"] - data_f["2021"])/data_f["2021"])

In [37]:
data_f

,2017,2018,2019,2020,2021,2022,Perf17,Perf18,Perf19,Perf20,Perf21
0,41.945000,47.487499,63.572498,122.150002,174.610001,164.899994,0.132137,0.338721,0.921428,0.429472,-0.055610
1,0.000000,0.000000,0.000000,146.800000,166.490000,85.650000,NaN,NaN,inf,0.134128,-0.485555
2,216.080002,266.489990,318.239990,475.369995,455.619995,385.369995,0.233293,0.194191,0.493747,-0.041547,-0.154186
3,91.129997,105.269997,89.650002,155.080002,165.179993,197.220001,0.155163,-0.148380,0.729838,0.065128,0.193970
4,113.480003,159.740005,136.679993,188.470001,227.539993,222.630005,0.407649,-0.144360,0.378914,0.207301,-0.021579
...,...,...,...,...,...,...,...,...,...,...,...
97,65.470001,63.270000,45.750000,54.900002,44.770000,34.580002,-0.033603,-0.276908,0.200000,-0.184517,-0.227608
98,127.110001,192.850006,130.220001,248.429993,239.460007,206.539993,0.517190,-0.324760,0.907771,-0.036107,-0.137476
99,45.480000,56.209999,60.299999,66.510002,72.169998,67.440002,0.235928,0.072763,0.102985,0.085100,-0.065540
100,0.000000,0.000000,146.119995,321.290009,117.230003,73.839996,NaN,inf,1.198809,-0.635127,-0.370127
101,0.000000,39.210000,46.500000,199.710000,321.330000,111.900000,inf,0.185922,3.294839,0.608983,-0.651760

In [38]:
data_f = data_f.replace([np.inf, -np.inf], 1)
data_f = data_f.fillna(0)
data_f

,2017,2018,2019,2020,2021,2022,Perf17,Perf18,Perf19,Perf20,Perf21
0,41.945000,47.487499,63.572498,122.150002,174.610001,164.899994,0.132137,0.338721,0.921428,0.429472,-0.055610
1,0.000000,0.000000,0.000000,146.800000,166.490000,85.650000,0.000000,0.000000,1.000000,0.134128,-0.485555
2,216.080002,266.489990,318.239990,475.369995,455.619995,385.369995,0.233293,0.194191,0.493747,-0.041547,-0.154186
3,91.129997,105.269997,89.650002,155.080002,165.179993,197.220001,0.155163,-0.148380,0.729838,0.065128,0.193970
4,113.480003,159.740005,136.679993,188.470001,227.539993,222.630005,0.407649,-0.144360,0.378914,0.207301,-0.021579
...,...,...,...,...,...,...,...,...,...,...,...
97,65.470001,63.270000,45.750000,54.900002,44.770000,34.580002,-0.033603,-0.276908,0.200000,-0.184517,-0.227608
98,127.110001,192.850006,130.220001,248.429993,239.460007,206.539993,0.517190,-0.324760,0.907771,-0.036107,-0.137476
99,45.480000,56.209999,60.299999,66.510002,72.169998,67.440002,0.235928,0.072763,0.102985,0.085100,-0.065540
100,0.000000,0.000000,146.119995,321.290009,117.230003,73.839996,0.000000,1.000000,1.198809,-0.635127,-0.370127
101,0.000000,39.210000,46.500000,199.710000,321.330000,111.900000,1.000000,0.185922,3.294839,0.608983,-0.651760

In [39]:
perf2017 = data_f.filter(regex='2017')
perf2018 = data_f.filter(regex='2018')
perf2019 = data_f.filter(regex='2019')
perf2020 = data_f.filter(regex='2020')
perf2021 = data_f.filter(regex='2021')

In [40]:
perf2017

           2017
0     41.945000
1      0.000000
2    216.080002
3     91.129997
4    113.480003
..          ...
97    65.470001
98   127.110001
99    45.480000
100    0.000000
101    0.000000

[102 rows x 1 columns]

# Methodology:  in the next section we calculate the index performance as the mean of the individual performances of the individual securities (on an equal weighted basis).

Once we have the above mean performance for the all the stocks for the year then we use that figure as the index performance ("benchmark").  Using this data, we can then assess and label whether a particular stock has outperfomed that benchmark (marked 1) or underperformed that benchmark (marked 0).

In [41]:
data_f = data_f.assign(Mean17=data_f["Perf17"].mean())
data_f = data_f.assign(Mean18=data_f["Perf18"].mean())
data_f = data_f.assign(Mean19=data_f["Perf19"].mean())
data_f = data_f.assign(Mean20=data_f["Perf20"].mean())
data_f = data_f.assign(Mean21=data_f["Perf21"].mean())
data_f

,2017,2018,2019,2020,2021,2022,Perf17,Perf18,Perf19,Perf20,Perf21,Mean17,Mean18,Mean19,Mean20,Mean21
0,41.945000,47.487499,63.572498,122.150002,174.610001,164.899994,0.132137,0.338721,0.921428,0.429472,-0.055610,0.17055,0.104431,0.842527,0.136347,-0.077387
1,0.000000,0.000000,0.000000,146.800000,166.490000,85.650000,0.000000,0.000000,1.000000,0.134128,-0.485555,0.17055,0.104431,0.842527,0.136347,-0.077387
2,216.080002,266.489990,318.239990,475.369995,455.619995,385.369995,0.233293,0.194191,0.493747,-0.041547,-0.154186,0.17055,0.104431,0.842527,0.136347,-0.077387
3,91.129997,105.269997,89.650002,155.080002,165.179993,197.220001,0.155163,-0.148380,0.729838,0.065128,0.193970,0.17055,0.104431,0.842527,0.136347,-0.077387
4,113.480003,159.740005,136.679993,188.470001,227.539993,222.630005,0.407649,-0.144360,0.378914,0.207301,-0.021579,0.17055,0.104431,0.842527,0.136347,-0.077387
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,65.470001,63.270000,45.750000,54.900002,44.770000,34.580002,-0.033603,-0.276908,0.200000,-0.184517,-0.227608,0.17055,0.104431,0.842527,0.136347,-0.077387
98,127.110001,192.850006,130.220001,248.429993,239.460007,206.539993,0.517190,-0.324760,0.907771,-0.036107,-0.137476,0.17055,0.104431,0.842527,0.136347,-0.077387
99,45.480000,56.209999,60.299999,66.510002,72.169998,67.440002,0.235928,0.072763,0.102985,0.085100,-0.065540,0.17055,0.104431,0.842527,0.136347,-0.077387
100,0.000000,0.000000,146.119995,321.290009,117.230003,73.839996,0.000000,1.000000,1.198809,-0.635127,-0.370127,0.17055,0.104431,0.842527,0.136347,-0.077387
101,0.000000,39.210000,46.500000,199.710000,321.330000,111.900000,1.000000,0.185922,3.294839,0.608983,-0.651760,0.17055,0.104431,0.842527,0.136347,-0.077387

In [42]:
def calculate_new_column17(row):
    if row['Perf17'] > row['Mean17']:
        return '1'
    else:
        return '0'
    
data_f['Label17'] = data_f.apply(calculate_new_column17, axis=1)

In [43]:
def calculate_new_column18(row):
    if row['Perf18'] > row['Mean18']:
        return '1'
    else:
        return '0'
    
data_f['Label18'] = data_f.apply(calculate_new_column18, axis=1)

In [44]:
def calculate_new_column19(row):
    if row['Perf19'] > row['Mean19']:
        return '1'
    else:
        return '0'
    
data_f['Label19'] = data_f.apply(calculate_new_column19, axis=1)

In [45]:
def calculate_new_column20(row):
    if row['Perf20'] > row['Mean20']:
        return '1'
    else:
        return '0'
    
data_f['Label20'] = data_f.apply(calculate_new_column20, axis=1)

In [46]:
def calculate_new_column21(row):
    if row['Perf21'] > row['Mean21']:
        return '1'
    else:
        return '0'
    
data_f['Label21'] = data_f.apply(calculate_new_column21, axis=1)

In [47]:
data_f

,2017,2018,2019,2020,2021,2022,Perf17,Perf18,Perf19,Perf20,...,Mean17,Mean18,Mean19,Mean20,Mean21,Label17,Label18,Label19,Label20,Label21
0,41.945000,47.487499,63.572498,122.150002,174.610001,164.899994,0.132137,0.338721,0.921428,0.429472,...,0.17055,0.104431,0.842527,0.136347,-0.077387,0,1,1,1,1
1,0.000000,0.000000,0.000000,146.800000,166.490000,85.650000,0.000000,0.000000,1.000000,0.134128,...,0.17055,0.104431,0.842527,0.136347,-0.077387,0,0,1,0,0
2,216.080002,266.489990,318.239990,475.369995,455.619995,385.369995,0.233293,0.194191,0.493747,-0.041547,...,0.17055,0.104431,0.842527,0.136347,-0.077387,1,1,0,0,0
3,91.129997,105.269997,89.650002,155.080002,165.179993,197.220001,0.155163,-0.148380,0.729838,0.065128,...,0.17055,0.104431,0.842527,0.136347,-0.077387,0,0,0,0,1
4,113.480003,159.740005,136.679993,188.470001,227.539993,222.630005,0.407649,-0.144360,0.378914,0.207301,...,0.17055,0.104431,0.842527,0.136347,-0.077387,1,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,65.470001,63.270000,45.750000,54.900002,44.770000,34.580002,-0.033603,-0.276908,0.200000,-0.184517,...,0.17055,0.104431,0.842527,0.136347,-0.077387,0,0,0,0,0
98,127.110001,192.850006,130.220001,248.429993,239.460007,206.539993,0.517190,-0.324760,0.907771,-0.036107,...,0.17055,0.104431,0.842527,0.136347,-0.077387,1,0,1,0,0
99,45.480000,56.209999,60.299999,66.510002,72.169998,67.440002,0.235928,0.072763,0.102985,0.085100,...,0.17055,0.104431,0.842527,0.136347,-0.077387,1,0,0,0,1
100,0.000000,0.000000,146.119995,321.290009,117.230003,73.839996,0.000000,1.000000,1.198809,-0.635127,...,0.17055,0.104431,0.842527,0.136347,-0.077387,0,1,1,0,0
101,0.000000,39.210000,46.500000,199.710000,321.330000,111.900000,1.000000,0.185922,3.294839,0.608983,...,0.17055,0.104431,0.842527,0.136347,-0.077387,1,1,1,1,0

In [48]:
final_perfs = data_f.iloc[:, 6:11]
final_perfs

       Perf17    Perf18    Perf19    Perf20    Perf21
0    0.132137  0.338721  0.921428  0.429472 -0.055610
1    0.000000  0.000000  1.000000  0.134128 -0.485555
2    0.233293  0.194191  0.493747 -0.041547 -0.154186
3    0.155163 -0.148380  0.729838  0.065128  0.193970
4    0.407649 -0.144360  0.378914  0.207301 -0.021579
..        ...       ...       ...       ...       ...
97  -0.033603 -0.276908  0.200000 -0.184517 -0.227608
98   0.517190 -0.324760  0.907771 -0.036107 -0.137476
99   0.235928  0.072763  0.102985  0.085100 -0.065540
100  0.000000  1.000000  1.198809 -0.635127 -0.370127
101  1.000000  0.185922  3.294839  0.608983 -0.651760

[102 rows x 5 columns]

In [49]:
perfs17_21 = pd.DataFrame(np.concatenate( (final_perfs['Perf17'].values, final_perfs['Perf18'].values,final_perfs['Perf19'].values,final_perfs['Perf20'].values,final_perfs['Perf21'].values), axis=0 ) )
perfs17_21

            0
0    0.132137
1    0.000000
2    0.233293
3    0.155163
4    0.407649
..        ...
505 -0.227608
506 -0.137476
507 -0.065540
508 -0.370127
509 -0.651760

[510 rows x 1 columns]

In [50]:
perfs17_21 = perfs17_21.fillna(0)

In [51]:
perfs17_21.to_csv("perfs17_21.csv",index=False)

In [52]:
perfs17_20 = perfs17_21[ : -102]
perfs17_20

            0
0    0.132137
1    0.000000
2    0.233293
3    0.155163
4    0.407649
..        ...
403 -0.184517
404 -0.036107
405  0.085100
406 -0.635127
407  0.608983

[408 rows x 1 columns]

In [53]:
perfs17_20.to_csv("perfs17_20.csv",index=False)

In [54]:
final_labels = data_f.iloc[:, -5:]
final_labels

    Label17 Label18 Label19 Label20 Label21
0         0       1       1       1       1
1         0       0       1       0       0
2         1       1       0       0       0
3         0       0       0       0       1
4         1       0       0       1       1
..      ...     ...     ...     ...     ...
97        0       0       0       0       0
98        1       0       1       0       0
99        1       0       0       0       1
100       0       1       1       0       0
101       1       1       1       1       0

[102 rows x 5 columns]

In [55]:
labels17_21 = pd.DataFrame(np.concatenate( (final_labels['Label17'].values, final_labels['Label18'].values,final_labels['Label19'].values,final_labels['Label20'].values,final_labels['Label21'].values), axis=0 ) )

In [56]:
labels17_21

     0
0    0
1    0
2    1
3    0
4    1
..  ..
505  0
506  0
507  1
508  0
509  0

[510 rows x 1 columns]

In [57]:
labels17_21.to_csv("labels17_21.csv",index=False)

In [58]:
labels17_20 = labels17_21[ : -102]

In [59]:
labels17_20

     0
0    0
1    0
2    1
3    0
4    1
..  ..
403  0
404  0
405  0
406  0
407  1

[408 rows x 1 columns]

In [60]:
labels17_20.to_csv("labels17_20.csv",index=False)

#

# Result 1

You will note we have set an Outperformance Label that is:

- 1 for Stocks that outperform the mean Nasdaq100 Index (equal weighted) return; and
- 0 for stocks that Underperform the mean Nasdaq100 index return for that period.

We also have a Performance Label that is the actual discrete return over the calendar period.

Now...  

We will also form some Datasets where the Labels are attached as last column of the X dataset as this will be more useful for some data scientist.

#

In [61]:
X = pd.read_csv('data17_21.csv')
X

,asset_turnover,buyback_yield,capex_to_revenue,cash_ratio,cash_to_debt,cogs_to_revenue,mscore,zscore,current_ratio,days_inventory,...,price_to_earnings_ratio,price_to_earnings_ratio_nri,price_earnings_growth_ratio,price_to_free_cashflow,price_to_operating_cashflow,rate_of_return,scaled_net_operating_assets,yoy_ebitda_growth,yoy_eps_growth,yoy_revenue_growth
0,0.660000,4.090000,0.050000,0.740000,0.640000,0.620000,-2.500000,3.620000,1.280000,9.040000,...,16.730000,16.730000,1.250000,15.630000,12.600000,19.240000,0.550000,9.360000,10.830000,11.340000
1,0.724932,2.035574,0.040000,1.410274,2.648413,0.250000,-2.543382,6.686479,2.332192,89.855094,...,44.940635,44.909524,10.936250,33.836721,35.271493,14.260952,0.482917,26.097361,46.020147,19.277917
2,0.540000,1.080000,0.020000,1.650000,3.090000,0.140000,-2.490000,10.810000,2.050000,89.855094,...,52.320000,52.320000,2.420000,32.410000,30.420000,21.820000,0.360000,39.030000,45.690000,25.510000
3,0.360000,0.140000,0.040000,0.660000,0.130000,0.400000,-1.490000,2.640000,1.470000,81.440000,...,39.870000,39.870000,4.440000,33.680000,27.720000,11.950000,2.130000,25.600000,-17.030000,36.640000
4,0.724932,2.035574,0.086892,1.410274,2.648413,0.437534,-2.543382,6.686479,2.332192,89.855094,...,44.940635,44.909524,10.936250,33.836721,35.271493,14.260952,0.482917,26.097361,46.020147,19.277917
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505,1.570000,0.250000,0.010000,0.050000,0.040000,0.790000,-2.260000,2.720000,0.720000,28.090000,...,17.320000,22.070000,6.195821,10.530000,7.910000,-5.110000,0.640000,65.800000,463.460000,10.370000
506,0.560000,1.733289,0.060000,0.830000,1.580000,0.280000,-3.240000,6.120000,1.120000,83.647794,...,61.101047,63.153488,6.195821,53.290000,42.510000,12.240260,0.290000,156.700000,43.870000,14.100000
507,0.240000,-0.990000,0.320000,0.030000,0.010000,0.610000,-1.792316,1.030000,0.840000,26.040000,...,22.870000,22.870000,8.730000,52.026374,16.700000,-1.040000,0.750000,3.480000,6.090000,13.930000
508,0.810000,-1.810000,0.030000,3.370000,40.040000,0.310000,-0.480000,47.500000,3.800000,83.647794,...,165.360000,165.360000,6.195821,80.070000,75.390000,12.240260,-0.220000,17.709700,52.306596,263.130000
509,0.330000,1.733289,0.090000,2.090000,1.560000,0.220000,-2.670000,11.580000,2.570000,83.647794,...,61.101047,63.153488,6.195821,222.560000,158.440000,12.240260,-0.010000,-86.740000,-116.850000,48.790000

In [62]:
Yperf = pd.read_csv('perfs17_21.csv')

In [63]:
X_Yperf = pd.concat([X, Yperf], axis="columns")
X_Yperf.drop([41])
X_Yperf

,asset_turnover,buyback_yield,capex_to_revenue,cash_ratio,cash_to_debt,cogs_to_revenue,mscore,zscore,current_ratio,days_inventory,...,price_to_earnings_ratio_nri,price_earnings_growth_ratio,price_to_free_cashflow,price_to_operating_cashflow,rate_of_return,scaled_net_operating_assets,yoy_ebitda_growth,yoy_eps_growth,yoy_revenue_growth,0
0,0.660000,4.090000,0.050000,0.740000,0.640000,0.620000,-2.500000,3.620000,1.280000,9.040000,...,16.730000,1.250000,15.630000,12.600000,19.240000,0.550000,9.360000,10.830000,11.340000,0.132137
1,0.724932,2.035574,0.040000,1.410274,2.648413,0.250000,-2.543382,6.686479,2.332192,89.855094,...,44.909524,10.936250,33.836721,35.271493,14.260952,0.482917,26.097361,46.020147,19.277917,0.000000
2,0.540000,1.080000,0.020000,1.650000,3.090000,0.140000,-2.490000,10.810000,2.050000,89.855094,...,52.320000,2.420000,32.410000,30.420000,21.820000,0.360000,39.030000,45.690000,25.510000,0.233293
3,0.360000,0.140000,0.040000,0.660000,0.130000,0.400000,-1.490000,2.640000,1.470000,81.440000,...,39.870000,4.440000,33.680000,27.720000,11.950000,2.130000,25.600000,-17.030000,36.640000,0.155163
4,0.724932,2.035574,0.086892,1.410274,2.648413,0.437534,-2.543382,6.686479,2.332192,89.855094,...,44.909524,10.936250,33.836721,35.271493,14.260952,0.482917,26.097361,46.020147,19.277917,0.407649
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505,1.570000,0.250000,0.010000,0.050000,0.040000,0.790000,-2.260000,2.720000,0.720000,28.090000,...,22.070000,6.195821,10.530000,7.910000,-5.110000,0.640000,65.800000,463.460000,10.370000,-0.227608
506,0.560000,1.733289,0.060000,0.830000,1.580000,0.280000,-3.240000,6.120000,1.120000,83.647794,...,63.153488,6.195821,53.290000,42.510000,12.240260,0.290000,156.700000,43.870000,14.100000,-0.137476
507,0.240000,-0.990000,0.320000,0.030000,0.010000,0.610000,-1.792316,1.030000,0.840000,26.040000,...,22.870000,8.730000,52.026374,16.700000,-1.040000,0.750000,3.480000,6.090000,13.930000,-0.065540
508,0.810000,-1.810000,0.030000,3.370000,40.040000,0.310000,-0.480000,47.500000,3.800000,83.647794,...,165.360000,6.195821,80.070000,75.390000,12.240260,-0.220000,17.709700,52.306596,263.130000,-0.370127
509,0.330000,1.733289,0.090000,2.090000,1.560000,0.220000,-2.670000,11.580000,2.570000,83.647794,...,63.153488,6.195821,222.560000,158.440000,12.240260,-0.010000,-86.740000,-116.850000,48.790000,-0.651760

In [64]:
X_Yperf.to_csv("X_Yperf_17_21.csv",index=False)

In [65]:
Y1perf = pd.read_csv('perfs17_20.csv')

In [66]:
X = pd.read_csv('data17_20.csv')

In [67]:
X_Y1perf = pd.concat([X, Y1perf], axis="columns")
X_Y1perf.drop([41])
X_Y1perf

,asset_turnover,buyback_yield,capex_to_revenue,cash_ratio,cash_to_debt,cogs_to_revenue,mscore,zscore,current_ratio,days_inventory,...,price_to_earnings_ratio_nri,price_earnings_growth_ratio,price_to_free_cashflow,price_to_operating_cashflow,rate_of_return,scaled_net_operating_assets,yoy_ebitda_growth,yoy_eps_growth,yoy_revenue_growth,0
0,0.660000,4.090000,0.050000,0.740000,0.640000,0.620000,-2.500000,3.620000,1.280000,9.040000,...,16.730000,1.250000,15.630000,12.600000,19.240000,0.550000,9.360000,10.830000,11.340000,0.132137
1,0.724932,2.035574,0.040000,1.410274,2.648413,0.250000,-2.543382,6.686479,2.332192,89.855094,...,44.909524,10.936250,33.836721,35.271493,14.260952,0.482917,26.097361,46.020147,19.277917,0.000000
2,0.540000,1.080000,0.020000,1.650000,3.090000,0.140000,-2.490000,10.810000,2.050000,89.855094,...,52.320000,2.420000,32.410000,30.420000,21.820000,0.360000,39.030000,45.690000,25.510000,0.233293
3,0.360000,0.140000,0.040000,0.660000,0.130000,0.400000,-1.490000,2.640000,1.470000,81.440000,...,39.870000,4.440000,33.680000,27.720000,11.950000,2.130000,25.600000,-17.030000,36.640000,0.155163
4,0.724932,2.035574,0.086892,1.410274,2.648413,0.437534,-2.543382,6.686479,2.332192,89.855094,...,44.909524,10.936250,33.836721,35.271493,14.260952,0.482917,26.097361,46.020147,19.277917,0.407649
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403,1.580000,4.830000,0.010000,0.020000,0.010000,0.790000,-3.110000,2.220000,0.670000,32.830000,...,190.100000,13.344429,8.140000,6.100000,10.550000,0.890000,-55.550000,-87.940000,6.570000,-0.184517
404,0.590000,1.422184,0.070000,0.650000,1.240000,0.290000,-3.190000,5.750000,1.040000,88.257353,...,70.917500,13.344429,67.650000,48.510000,13.355974,0.380000,14.940000,-9.840000,22.650000,-0.036107
405,0.220000,-2.030000,0.470000,0.030000,0.010000,0.570000,-2.417895,1.030000,0.770000,30.010000,...,23.900000,7.660000,82.560323,12.360000,0.090000,0.730000,3.390000,5.680000,-1.540000,0.085100
406,0.760000,-2.550000,0.060000,2.560000,11.800000,0.190000,-2.230000,29.250000,3.280000,88.257353,...,847.780000,13.344429,170.690000,127.810000,13.355974,0.140000,134.690000,200.000000,99.110000,-0.635127
407,0.350000,1.422184,0.120000,3.230000,1.510000,0.220000,-2.800000,8.210000,3.730000,88.257353,...,70.917500,13.344429,609.620000,211.830000,13.355974,0.030000,-400.750000,-286.960000,36.070000,0.608983

In [68]:
X_Y1perf.to_csv("X_Yperf_17_20.csv",index=False)

In [69]:
X = pd.read_csv('data17_21.csv')

In [70]:
Ylabels = pd.read_csv('labels17_21.csv')

In [71]:
X_Ylabels = pd.concat([X, Ylabels], axis="columns")
X_Ylabels.drop([41])
X_Ylabels

,asset_turnover,buyback_yield,capex_to_revenue,cash_ratio,cash_to_debt,cogs_to_revenue,mscore,zscore,current_ratio,days_inventory,...,price_to_earnings_ratio_nri,price_earnings_growth_ratio,price_to_free_cashflow,price_to_operating_cashflow,rate_of_return,scaled_net_operating_assets,yoy_ebitda_growth,yoy_eps_growth,yoy_revenue_growth,0
0,0.660000,4.090000,0.050000,0.740000,0.640000,0.620000,-2.500000,3.620000,1.280000,9.040000,...,16.730000,1.250000,15.630000,12.600000,19.240000,0.550000,9.360000,10.830000,11.340000,0
1,0.724932,2.035574,0.040000,1.410274,2.648413,0.250000,-2.543382,6.686479,2.332192,89.855094,...,44.909524,10.936250,33.836721,35.271493,14.260952,0.482917,26.097361,46.020147,19.277917,0
2,0.540000,1.080000,0.020000,1.650000,3.090000,0.140000,-2.490000,10.810000,2.050000,89.855094,...,52.320000,2.420000,32.410000,30.420000,21.820000,0.360000,39.030000,45.690000,25.510000,1
3,0.360000,0.140000,0.040000,0.660000,0.130000,0.400000,-1.490000,2.640000,1.470000,81.440000,...,39.870000,4.440000,33.680000,27.720000,11.950000,2.130000,25.600000,-17.030000,36.640000,0
4,0.724932,2.035574,0.086892,1.410274,2.648413,0.437534,-2.543382,6.686479,2.332192,89.855094,...,44.909524,10.936250,33.836721,35.271493,14.260952,0.482917,26.097361,46.020147,19.277917,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505,1.570000,0.250000,0.010000,0.050000,0.040000,0.790000,-2.260000,2.720000,0.720000,28.090000,...,22.070000,6.195821,10.530000,7.910000,-5.110000,0.640000,65.800000,463.460000,10.370000,0
506,0.560000,1.733289,0.060000,0.830000,1.580000,0.280000,-3.240000,6.120000,1.120000,83.647794,...,63.153488,6.195821,53.290000,42.510000,12.240260,0.290000,156.700000,43.870000,14.100000,0
507,0.240000,-0.990000,0.320000,0.030000,0.010000,0.610000,-1.792316,1.030000,0.840000,26.040000,...,22.870000,8.730000,52.026374,16.700000,-1.040000,0.750000,3.480000,6.090000,13.930000,1
508,0.810000,-1.810000,0.030000,3.370000,40.040000,0.310000,-0.480000,47.500000,3.800000,83.647794,...,165.360000,6.195821,80.070000,75.390000,12.240260,-0.220000,17.709700,52.306596,263.130000,0
509,0.330000,1.733289,0.090000,2.090000,1.560000,0.220000,-2.670000,11.580000,2.570000,83.647794,...,63.153488,6.195821,222.560000,158.440000,12.240260,-0.010000,-86.740000,-116.850000,48.790000,0

In [90]:
X_Ylabels.to_csv("X_Ylabels_17_21.csv",index=False)

In [74]:
X1 = pd.read_csv('data17_20.csv')
X1

,asset_turnover,buyback_yield,capex_to_revenue,cash_ratio,cash_to_debt,cogs_to_revenue,mscore,zscore,current_ratio,days_inventory,...,price_to_earnings_ratio,price_to_earnings_ratio_nri,price_earnings_growth_ratio,price_to_free_cashflow,price_to_operating_cashflow,rate_of_return,scaled_net_operating_assets,yoy_ebitda_growth,yoy_eps_growth,yoy_revenue_growth
0,0.660000,4.090000,0.050000,0.740000,0.640000,0.620000,-2.500000,3.620000,1.280000,9.040000,...,16.730000,16.730000,1.250000,15.630000,12.600000,19.240000,0.550000,9.360000,10.830000,11.340000
1,0.724932,2.035574,0.040000,1.410274,2.648413,0.250000,-2.543382,6.686479,2.332192,89.855094,...,44.940635,44.909524,10.936250,33.836721,35.271493,14.260952,0.482917,26.097361,46.020147,19.277917
2,0.540000,1.080000,0.020000,1.650000,3.090000,0.140000,-2.490000,10.810000,2.050000,89.855094,...,52.320000,52.320000,2.420000,32.410000,30.420000,21.820000,0.360000,39.030000,45.690000,25.510000
3,0.360000,0.140000,0.040000,0.660000,0.130000,0.400000,-1.490000,2.640000,1.470000,81.440000,...,39.870000,39.870000,4.440000,33.680000,27.720000,11.950000,2.130000,25.600000,-17.030000,36.640000
4,0.724932,2.035574,0.086892,1.410274,2.648413,0.437534,-2.543382,6.686479,2.332192,89.855094,...,44.940635,44.909524,10.936250,33.836721,35.271493,14.260952,0.482917,26.097361,46.020147,19.277917
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403,1.580000,4.830000,0.010000,0.020000,0.010000,0.790000,-3.110000,2.220000,0.670000,32.830000,...,73.120000,190.100000,13.344429,8.140000,6.100000,10.550000,0.890000,-55.550000,-87.940000,6.570000
404,0.590000,1.422184,0.070000,0.650000,1.240000,0.290000,-3.190000,5.750000,1.040000,88.257353,...,71.222262,70.917500,13.344429,67.650000,48.510000,13.355974,0.380000,14.940000,-9.840000,22.650000
405,0.220000,-2.030000,0.470000,0.030000,0.010000,0.570000,-2.417895,1.030000,0.770000,30.010000,...,23.900000,23.900000,7.660000,82.560323,12.360000,0.090000,0.730000,3.390000,5.680000,-1.540000
406,0.760000,-2.550000,0.060000,2.560000,11.800000,0.190000,-2.230000,29.250000,3.280000,88.257353,...,847.780000,847.780000,13.344429,170.690000,127.810000,13.355974,0.140000,134.690000,200.000000,99.110000
407,0.350000,1.422184,0.120000,3.230000,1.510000,0.220000,-2.800000,8.210000,3.730000,88.257353,...,71.222262,70.917500,13.344429,609.620000,211.830000,13.355974,0.030000,-400.750000,-286.960000,36.070000

In [75]:
Y1labels = pd.read_csv('labels17_20.csv')

In [76]:
X_Y1labels = pd.concat([X1, Y1labels], axis="columns")
X_Y1labels.drop([41])
X_Y1labels

,asset_turnover,buyback_yield,capex_to_revenue,cash_ratio,cash_to_debt,cogs_to_revenue,mscore,zscore,current_ratio,days_inventory,...,price_to_earnings_ratio_nri,price_earnings_growth_ratio,price_to_free_cashflow,price_to_operating_cashflow,rate_of_return,scaled_net_operating_assets,yoy_ebitda_growth,yoy_eps_growth,yoy_revenue_growth,0
0,0.660000,4.090000,0.050000,0.740000,0.640000,0.620000,-2.500000,3.620000,1.280000,9.040000,...,16.730000,1.250000,15.630000,12.600000,19.240000,0.550000,9.360000,10.830000,11.340000,0
1,0.724932,2.035574,0.040000,1.410274,2.648413,0.250000,-2.543382,6.686479,2.332192,89.855094,...,44.909524,10.936250,33.836721,35.271493,14.260952,0.482917,26.097361,46.020147,19.277917,0
2,0.540000,1.080000,0.020000,1.650000,3.090000,0.140000,-2.490000,10.810000,2.050000,89.855094,...,52.320000,2.420000,32.410000,30.420000,21.820000,0.360000,39.030000,45.690000,25.510000,1
3,0.360000,0.140000,0.040000,0.660000,0.130000,0.400000,-1.490000,2.640000,1.470000,81.440000,...,39.870000,4.440000,33.680000,27.720000,11.950000,2.130000,25.600000,-17.030000,36.640000,0
4,0.724932,2.035574,0.086892,1.410274,2.648413,0.437534,-2.543382,6.686479,2.332192,89.855094,...,44.909524,10.936250,33.836721,35.271493,14.260952,0.482917,26.097361,46.020147,19.277917,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403,1.580000,4.830000,0.010000,0.020000,0.010000,0.790000,-3.110000,2.220000,0.670000,32.830000,...,190.100000,13.344429,8.140000,6.100000,10.550000,0.890000,-55.550000,-87.940000,6.570000,0
404,0.590000,1.422184,0.070000,0.650000,1.240000,0.290000,-3.190000,5.750000,1.040000,88.257353,...,70.917500,13.344429,67.650000,48.510000,13.355974,0.380000,14.940000,-9.840000,22.650000,0
405,0.220000,-2.030000,0.470000,0.030000,0.010000,0.570000,-2.417895,1.030000,0.770000,30.010000,...,23.900000,7.660000,82.560323,12.360000,0.090000,0.730000,3.390000,5.680000,-1.540000,0
406,0.760000,-2.550000,0.060000,2.560000,11.800000,0.190000,-2.230000,29.250000,3.280000,88.257353,...,847.780000,13.344429,170.690000,127.810000,13.355974,0.140000,134.690000,200.000000,99.110000,0
407,0.350000,1.422184,0.120000,3.230000,1.510000,0.220000,-2.800000,8.210000,3.730000,88.257353,...,70.917500,13.344429,609.620000,211.830000,13.355974,0.030000,-400.750000,-286.960000,36.070000,1

In [77]:
X_Y1labels.to_csv("X_Ylabels_17_20.csv",index=False)

#

# Result 2:

So we now have two full datasets for 2017 to 2021 with the Y labels attached at the end column.

- labels 1 or 0: for binary outperformance against index.

- perfs labels: for actual performance for the stock for that calendar year.


And we also have a 2017 to 2020  dataset for:

- labels 1 or 0: for binary outperformance against index.

- perfs labels: for actual performance for the stock for that calendar year.

# Saving the final datasets.

In [89]:
X_Ylabels.to_csv("X_Ylabels_17_21.csv",index=False)

In [79]:
X_Y1labels.to_csv("X_Ylabels_17_20.csv",index=False)

In [80]:
X_Yperf.to_csv("X_Yperf_17_21.csv",index=False)

In [81]:
X_Y1perf.to_csv("X_Yperf_17_20.csv",index=False)

# Undertaking some Principal Component Analysis

In [82]:
X_Ydata = pd.read_csv("data17_21.csv")
X_Ydata

,asset_turnover,buyback_yield,capex_to_revenue,cash_ratio,cash_to_debt,cogs_to_revenue,mscore,zscore,current_ratio,days_inventory,...,price_to_earnings_ratio,price_to_earnings_ratio_nri,price_earnings_growth_ratio,price_to_free_cashflow,price_to_operating_cashflow,rate_of_return,scaled_net_operating_assets,yoy_ebitda_growth,yoy_eps_growth,yoy_revenue_growth
0,0.660000,4.090000,0.050000,0.740000,0.640000,0.620000,-2.500000,3.620000,1.280000,9.040000,...,16.730000,16.730000,1.250000,15.630000,12.600000,19.240000,0.550000,9.360000,10.830000,11.340000
1,0.724932,2.035574,0.040000,1.410274,2.648413,0.250000,-2.543382,6.686479,2.332192,89.855094,...,44.940635,44.909524,10.936250,33.836721,35.271493,14.260952,0.482917,26.097361,46.020147,19.277917
2,0.540000,1.080000,0.020000,1.650000,3.090000,0.140000,-2.490000,10.810000,2.050000,89.855094,...,52.320000,52.320000,2.420000,32.410000,30.420000,21.820000,0.360000,39.030000,45.690000,25.510000
3,0.360000,0.140000,0.040000,0.660000,0.130000,0.400000,-1.490000,2.640000,1.470000,81.440000,...,39.870000,39.870000,4.440000,33.680000,27.720000,11.950000,2.130000,25.600000,-17.030000,36.640000
4,0.724932,2.035574,0.086892,1.410274,2.648413,0.437534,-2.543382,6.686479,2.332192,89.855094,...,44.940635,44.909524,10.936250,33.836721,35.271493,14.260952,0.482917,26.097361,46.020147,19.277917
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505,1.570000,0.250000,0.010000,0.050000,0.040000,0.790000,-2.260000,2.720000,0.720000,28.090000,...,17.320000,22.070000,6.195821,10.530000,7.910000,-5.110000,0.640000,65.800000,463.460000,10.370000
506,0.560000,1.733289,0.060000,0.830000,1.580000,0.280000,-3.240000,6.120000,1.120000,83.647794,...,61.101047,63.153488,6.195821,53.290000,42.510000,12.240260,0.290000,156.700000,43.870000,14.100000
507,0.240000,-0.990000,0.320000,0.030000,0.010000,0.610000,-1.792316,1.030000,0.840000,26.040000,...,22.870000,22.870000,8.730000,52.026374,16.700000,-1.040000,0.750000,3.480000,6.090000,13.930000
508,0.810000,-1.810000,0.030000,3.370000,40.040000,0.310000,-0.480000,47.500000,3.800000,83.647794,...,165.360000,165.360000,6.195821,80.070000,75.390000,12.240260,-0.220000,17.709700,52.306596,263.130000
509,0.330000,1.733289,0.090000,2.090000,1.560000,0.220000,-2.670000,11.580000,2.570000,83.647794,...,61.101047,63.153488,6.195821,222.560000,158.440000,12.240260,-0.010000,-86.740000,-116.850000,48.790000

In [83]:
import numpy as np
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

# Assuming your dataset is stored in a variable named 'data'

# Standardize the data
scaler = StandardScaler()
data_scaled = scaler.fit_transform(X_Ydata)

# Create an instance of PCA
pca = PCA()

# Perform PCA on the standardized data
pca.fit(data_scaled)

# Determine the explained variance ratio
explained_variance_ratio = pca.explained_variance_ratio_

# Determine the cumulative explained variance
cumulative_explained_variance = np.cumsum(explained_variance_ratio)

# Choose the number of components that explain a desired amount of variance
desired_variance = 0.9
n_components = np.argmax(cumulative_explained_variance >= desired_variance) + 1

# Perform PCA again with the chosen number of components
pca_final = PCA(n_components=n_components)
data_pca = pca_final.fit_transform(data_scaled)

In [84]:
data_pca = pd.DataFrame(data_pca)
data_pca

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,-1.001226,-1.059893,0.986660,0.161155,-0.997699,-0.300203,0.754488,0.103010,0.850884,-0.321918,...,0.150729,-0.532187,-0.066752,0.277873,-0.779989,-0.661683,1.014897,0.183478,-0.292203,-0.154482
1,-0.066134,-0.399447,-0.065152,0.038366,-0.072110,0.005930,-0.276317,-0.006671,-0.031683,0.173165,...,0.126239,0.108393,-0.019713,-0.251871,-0.044188,-0.083677,-0.112400,-0.119917,0.044716,0.174352
2,1.496734,-0.827214,-0.889009,-0.148621,0.376227,0.216439,-0.041229,-0.288756,-0.184608,0.290511,...,0.182107,-0.599143,0.047240,0.378696,0.762712,0.564445,-0.905975,0.017726,-0.118805,-0.258859
3,-0.730326,-0.119637,0.469753,1.338862,-2.045690,-0.825665,-0.776626,-0.949277,-0.637562,-0.248656,...,1.353734,0.606229,-0.315826,0.957854,-1.064890,-0.579852,-0.083798,0.851264,0.254949,0.048241
4,-0.052995,-0.278251,0.168833,0.129490,-0.010581,-0.058356,-0.094532,0.082996,-0.124160,0.111113,...,0.110436,0.100084,0.011917,-0.186938,-0.073753,-0.147407,-0.071179,-0.092330,0.048253,0.132163
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505,-1.841088,-1.573852,0.925308,1.328420,1.061030,-0.223651,1.452882,0.416119,-2.119895,0.061617,...,-1.982610,1.249325,-1.159531,-0.397603,-0.000348,0.783153,-0.502866,0.267833,0.211469,0.081019
506,-0.037251,-0.009749,-1.638666,1.794693,1.262925,0.563673,2.222921,-3.363063,2.155335,-1.604268,...,-1.198499,-1.664605,-0.156089,-1.166241,-1.011592,1.171418,-0.649655,0.264665,0.050947,-0.730816
507,-2.227106,0.061165,0.902742,1.236015,-1.689608,-0.641463,0.654132,-0.734312,-0.364306,0.620598,...,-0.671169,0.676739,-0.559069,-0.189427,0.566458,0.000305,-0.343038,0.128095,0.046791,0.369321
508,5.465644,2.399047,-4.590174,-0.264209,2.200516,0.958209,1.116369,0.113043,-0.117697,1.990719,...,-0.637207,0.374868,-1.934445,2.333957,1.259215,-0.534707,0.026886,1.729385,-0.156133,2.207489
509,-0.426534,4.589082,-2.229936,-3.740811,-1.880061,-0.337073,-0.390823,-0.452998,0.129323,-0.132252,...,-0.450911,-0.547877,0.419722,0.383752,0.194830,0.277032,0.253158,0.772802,-0.209244,-0.303139

In [85]:
X = data_pca

In [86]:
Ylabels = pd.read_csv('labels17_21.csv')

In [87]:
X_Ylabels_17_21_pca = pd.concat([X, Ylabels], axis="columns")
X_Ylabels_17_21_pca.drop([41])
X_Ylabels_17_21_pca

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,0
0,-1.001226,-1.059893,0.986660,0.161155,-0.997699,-0.300203,0.754488,0.103010,0.850884,-0.321918,...,-0.532187,-0.066752,0.277873,-0.779989,-0.661683,1.014897,0.183478,-0.292203,-0.154482,0
1,-0.066134,-0.399447,-0.065152,0.038366,-0.072110,0.005930,-0.276317,-0.006671,-0.031683,0.173165,...,0.108393,-0.019713,-0.251871,-0.044188,-0.083677,-0.112400,-0.119917,0.044716,0.174352,0
2,1.496734,-0.827214,-0.889009,-0.148621,0.376227,0.216439,-0.041229,-0.288756,-0.184608,0.290511,...,-0.599143,0.047240,0.378696,0.762712,0.564445,-0.905975,0.017726,-0.118805,-0.258859,1
3,-0.730326,-0.119637,0.469753,1.338862,-2.045690,-0.825665,-0.776626,-0.949277,-0.637562,-0.248656,...,0.606229,-0.315826,0.957854,-1.064890,-0.579852,-0.083798,0.851264,0.254949,0.048241,0
4,-0.052995,-0.278251,0.168833,0.129490,-0.010581,-0.058356,-0.094532,0.082996,-0.124160,0.111113,...,0.100084,0.011917,-0.186938,-0.073753,-0.147407,-0.071179,-0.092330,0.048253,0.132163,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505,-1.841088,-1.573852,0.925308,1.328420,1.061030,-0.223651,1.452882,0.416119,-2.119895,0.061617,...,1.249325,-1.159531,-0.397603,-0.000348,0.783153,-0.502866,0.267833,0.211469,0.081019,0
506,-0.037251,-0.009749,-1.638666,1.794693,1.262925,0.563673,2.222921,-3.363063,2.155335,-1.604268,...,-1.664605,-0.156089,-1.166241,-1.011592,1.171418,-0.649655,0.264665,0.050947,-0.730816,0
507,-2.227106,0.061165,0.902742,1.236015,-1.689608,-0.641463,0.654132,-0.734312,-0.364306,0.620598,...,0.676739,-0.559069,-0.189427,0.566458,0.000305,-0.343038,0.128095,0.046791,0.369321,1
508,5.465644,2.399047,-4.590174,-0.264209,2.200516,0.958209,1.116369,0.113043,-0.117697,1.990719,...,0.374868,-1.934445,2.333957,1.259215,-0.534707,0.026886,1.729385,-0.156133,2.207489,0
509,-0.426534,4.589082,-2.229936,-3.740811,-1.880061,-0.337073,-0.390823,-0.452998,0.129323,-0.132252,...,-0.547877,0.419722,0.383752,0.194830,0.277032,0.253158,0.772802,-0.209244,-0.303139,0

In [88]:
X_Ylabels_17_21_pca.to_csv("X_Ylabels_17_21_pca.csv",index=False)

# Now we have a post-PCA dataset for Classifier models using the 2017 to 2021 data.

# END.